<%# I started to move this into a helper, but I think it's okay here for now. %>
<%- if @model.name == "Struct::PrototypeModel" -%>
  <%- path = project_yogo_models_path(@project) -%>
  <%- method = :post -%>
<%- else -%>
  <%- path = project_yogo_model_path(@project, @model.name.demodulize) -%>
  <%- method = :put -%>
<%- end -%>

<%- options = options_for_select(@options) -%> 
       
<div id="model-edit">
  <%- form_for(@model, :url => path, :html => { :method => method }) do |f| -%>
  
    <%# Output errors if there are any. %>
    <%- if flash[:model_errors] -%>
      <%- flash[:model_errors].each_pair do |key,value| -%>
        <%= h key + value %>
      <%- end -%>
    <%- end -%>
  
    <%# If this is a new model, ask for its name. %>
    <%- if @model.name == "Struct::PrototypeModel" -%>
      <div class="model-edit-label">
        <%= label_tag(:class_name, "Model name") %>:
      </div>
      <div class="model-edit-input">
        <%= text_field_tag(:class_name) %>
      </div>
    <%- else -%>
    
     <%- @model.properties.each do |prop| %>
        <%- unless prop.name == :id -%>
        <div class="model-edit-label">
          <%= h prop.name.to_s.titleize %> :
        </div>
        <div class="model-edit-input">  
          <%= select_tag("property_#{prop.name}", options_for_select(@options, @types[prop.type]), :name => "property[#{prop.name}]") %>
        </div>
        <%- end -%>
      <%- end %>
      
    <%- end -%>
    
    <div id='new-properties'>
      <div class='new-property'>
        <div class="model-edit-label">
          <%= label_tag(:name, 'Property Name') %>:
        </div> 
        <div class="model-edit-input">
          <%= text_field_tag(:name, nil, :name => 'new_property[][name]') %>
          <%- options = options_for_select(@options) -%> 
          <%= label_tag(:type) %>:
          <%= select_tag(:type, options, :name => 'new_property[][type]' ) %>
          <%= link_to(image_tag('remove.png')+'Remove', '', :class => 'remove-new-property') %>
        </div>
      </div>
    </div>
    <%= link_to(image_tag('add.gif')+' Add a property', '', :id => 'add-property') %>
  <br><br>
  
  <%= f.submit('Save') %>
    
  <%- end -%>
</div>

<div style="display:none" id='form-template'>  
  <div class="model-edit-label">
    <%= label_tag(:name, 'Property Name') %>:
  </div> 
  <div class="model-edit-input">
    <%= text_field_tag(:name, nil, :name => 'new_property[][name]') %>
    <%- options = options_for_select(@options) -%> 
    <%= label_tag(:type) %>:
    <%= select_tag(:type, options, :name => 'new_property[][type]' ) %>
    <%= link_to(image_tag('remove.png')+'Remove', '', :class => 'remove-new-property') %>
  </div>
</div>
