<h1><%= @model.name.demodulize.titleize %></h1>

<div id="model-action-links">
  <%= link_to(image_tag('edit.png')+'Edit '+@model.name.demodulize.titleize, edit_project_yogo_model_path(@project, @model.name.demodulize)) %>
  <%= link_to(image_tag('remove.png')+'Remove '+@model.name.demodulize.titleize, project_yogo_model_path(@project, @model.name.demodulize), :method => :delete, :confirm => 'Removing this model will also destroy all data associated with the model. Continue?') %>
</div>
<table id="model-show">
  <thead>
    <tr>
      <th>Name</th>
      <th>Data type</th>
    </tr>
  </thead>
  <tbody>
    <%- @model.properties.each do |prop| %>
      <tr id="model-show-row" class="<%= cycle('alternate-rows0', 'alternate-rows1') %>">
        <td><%= prop.name.to_s.titleize %></td>
        <td><%= (prop.type.to_s == "DataMapper::Types::Serial") ? "Integer" : @types[prop.type]  %></td>
      <tr>
    <%- end %>
  </tbody>
</table>




