<h1 class='section-title'>Yogo Dashboard</h1>
<div class="button-small" id='create-project-button'>
  <%= link_to(image_tag("create-project-small.jpg"), start_wizard_path()) %>
</div>
<div id='fitted-content'>
  <%- for project in @projects -%>
  <div class="project-block">
    <div class="project-icon">
      <%= link_to(image_tag('mock-project-icon.jpg'), project_path(project) ) %>
    </div>
    <div class="project-text">
      <h4><%= link_to(project.name, project_path(project) ) %></h4>
      <p>
        <em><%=h project.description || "[No Description]" %></em> 
      </p>
      <%- if project.models.empty? -%>
        <p>There are no datasets associated with this project.<br /><%= link_to('Add a Dataset', csv_question_path(project)) %></p>
      <%- else -%>
        <table class="dashboard-table">
          <thead>
            <tr>
              <th>Dataset</th>
              <th>New</th>
              <th>Total</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <%- for dataset in project.models -%>
          <%# TODO: Make this use real data!q %>
            <tr>
              <td style="text-align:left;"><%= h dataset.public_name %></td>
              <td><%= link_to(dataset.count(:created_at.gt => 1.week.ago), project_yogo_data_index_path(project, dataset)) %></td>
              <td><%= link_to(dataset.count, project_yogo_data_index_path(project, dataset)) %></td>
              <td><%= link_to(image_tag('manage.png', :title => "Manage Data"), project_yogo_data_index_path(project, dataset)) %></td>
              <!-- TODO: Show the model editor -->
              <td><%= link_to(image_tag('edit.png', :title => "Describe Dataset"), "/mockup/edit") %></td>
              <!-- TODO: Show import data page -->
              <td><%= link_to(image_tag('import.png', :title => "Import Data"), "") %></td>
            </tr>
          <%- end -%>
        </table>
      <%- end -%>
  
    </div>
  </div>
  <%- end -%>
  <div id="pagination-links">
    <%= pagination_links(Project, params[:page], 5) %>
  </div>
</div>