%h1
  New Variable

-form_for :variable, @variable, :url => { :action => "create"} do |f|
  Variable Code: 
  = f.text_field :variable_code
  =clear_break
  Variable Name: 
  = f.text_field :variable_name
  =clear_break
  Variable Units ID: 
  -unit_options = Array.new
  -@units.all(:order => [:units_name.asc]).each do |unit|
    -unit_options <<[unit.units_name+':'+unit.units_type, unit.id.to_s]
  = f.select('variable_units_id',  options_for_select(unit_options))
  =clear_break
  Speciation: 
  = f.text_field :speciation
  =clear_break
  Sample Medium: 
  = f.text_field :sample_medium
  =clear_break
  Value Type: 
  = f.text_field :value_type
  =clear_break
  Is Regular: 
  = f.text_field :is_regular
  =clear_break
  Time Support: 
  = f.text_field :time_support
  =clear_break
  Time Units ID:
  = f.text_field :time_units_id
  =clear_break
  Data Type: 
  = f.text_field :data_type
  =clear_break
  General Category:
  = f.text_field :general_category
  =clear_break
  No Data Value: 
  = f.text_field :no_data_value
  =clear_break
  = f.submit ('Create', , :onclick => "$('#loader').toggle();")
  = link_to('Cancel', project_path(@project), :class => 'icon icon-cancel') 
