<div id="container"  class="clearfix">
  <div id='header'>
    <div id="header-img">
      <%= image_tag('title.png') %>
    </div>
  </div>
  <div id="mock-search-tab">
    <%= image_tag('mock-search-tab.png') %>
  </div>
  <div id="content">
    <div id="sidebar">
        <div id="nav-home" class="nav-group">
          <div class="nav-title" id='home-title'><%= link_to("Home", "/mockup") %></div>
        </div>
        <div id="nav-projects" class="nav-group">
          <div class="nav-title" id='projects-title'>
            <%= link_to("Parkinson's Disease Research","/mockup/show_project" ) %></div>
            <div class="nav-items">
                <ul>
                    <li><%= link_to("Neuropsych evaluations", "") %></li>
                    <!-- <li><%#= link_to("", "") %></li>
                                        <li><%#= link_to("", "") %></li> -->
                </ul>
            </div>
        </div>
    </div>
    
    <div id="mockup-show-project">
      <h2>Parkinson's Disease Research</h2>
      <br />
      <h3>Neuropsych evaluations &nbsp; <%= link_to(image_tag('edit_med.png'), "/mockup/edit") %></h3>
      
          <table class="mock-data-zoom" >
            <thead>
              <th colspan="2">Control - 4 Digit Delay RT</th>
            </thead>
            <tr class="<%=cycle("alternate-rows0","") %>">
              <td>Subject ID</td>
              <td>PreTEST</td>
              <td>Training 1</td>
              <td>Training 2</td>
              <td>Training 3</td>
              <td>Training 4</td>
              <td>Training 5</td>
              <td>Training 6</td>
              <td>Training 7</td>
              <td>Training 8</td>
              <td>Training 9</td>
              <td>Training 10</td>
              <td>Training 11</td>
              <td>Training 12</td>
              <td>PostTEST</td>
              <td></td>
            </tr>
            <tr class="<%=cycle("alternate-rows0","") %>">
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td class="mock-table-input"></td>
              <td><%= image_tag('mock-save-button.jpg') %></td>
            </tr>
            <tr class="<%=cycle("alternate-rows0","") %>">
              <td>KTG_01</td>
               <td>2013</td>
               <td>1898</td>
               <td>1938</td>
               <td>1701</td>
               <td>1564</td>
               <td>1434</td>
               <td>1452</td>
               <td>1476</td>
               <td>1453</td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td>1582</td>
               <td></td>
            </tr>
            <tr class="<%=cycle("alternate-rows0","") %>">
              <td>BRT_02</td>
              <td>1433</td>
              <td>1172</td>
              <td>1065</td>
              <td>988</td>
              <td>983</td>
              <td>1055</td>
              <td>943</td>
              <td>923</td>
              <td>1007</td>
              <td>938</td>
              <td>947</td>
              <td>936</td>
              <td>913</td>
              <td>882</td>
              <td></td>
            </tr>
            <tr class="<%=cycle("alternate-rows0","") %>">
              <td>CMJ_03</td>
              <td>1857</td>
              <td>1766</td>
              <td>1350</td>
              <td>1292</td>
              <td>1274</td>
              <td>1325</td>
              <td>1190</td>
              <td>1233</td>
              <td>1218</td>
              <td>1241</td>
              <td>1319</td>
              <td></td>
              <td></td>
              <td>1303</td>
              <td></td>
            </tr>
            <tr>
              <td>MTP_04</td>
              <td>1983</td>
              <td>1888</td>
              <td>1537</td>
              <td>1482</td>
              <td>1508</td>
              <td>1355</td>
              <td>1326</td>
              <td>1628</td>
              <td>1481</td>
              <td>1358</td>
              <td>1274</td>
              <td>    </td>
              <td>    </td>
              <td>1369</td>
              <td></td>
            </tr>
            <tr>
              <td>SFG_05</td>
              <td>1515</td>
              <td>1370</td>
              <td>1294</td>
              <td>1171</td>
              <td>1258</td>
              <td>1292</td>
              <td>1099</td>
              <td>1181</td>
              <td>1114</td>
              <td>1151</td>
              <td>1131</td>
              <td>    </td>
              <td>    </td>
              <td>1119</td>
              <td></td>
            </tr>
            <tr>
              <td>Average</td>
              <td>1760.2</td>
              <td>1618.8</td>
              <td>1436.8</td>
              <td>1326.8</td>
              <td>1317.4</td>
              <td>1292.2</td>
              <td>1202  </td>
              <td>1288.2</td>
              <td>1254.6</td>
              <td>1089.5</td>
              <td>1133  </td>
              <td>936   </td>
              <td>913   </td>
              <td>1251  </td>
              <td></td>
            </tr>
          </table>

    </div>
    
  </div>  <!-- End content div -->
    
</div>