<div id="container"  class="clearfix">
  <div id='header'>
    <div id="header-img">
      <%= image_tag('title.png') %>
    </div>
  </div>
  
  <div class="nav-group" style="float:left; margin-left:20px;">
    <div class="nav-title" id='home-title'><%= link_to("Home", "/mockup") %></div>
  </div>
  
  <div id="mock-roadmap">
    <%= image_tag('mock-roadmap-3.jpg') %>
  </div>
  
  <div id="content">
    <div id="sidebar">
      <div id="nav-home" class="nav-group">
        <h5 style="margin-left:42px;">Data Types</h5>
       <%= image_tag('mock-palette.jpg') %>
       <h5 style="margin-left:48px;">Protocol</h5>
       <button style="margin:8px 0 0 20px;">Upload a protocol</button>
      </div>
    </div>
    <div id="mockup-edit">
      Dataset name: <input /><br />
      <%= image_tag('mock-workspace.jpg') %>
      <p style="margin-left:200px;"><%= image_tag('add.gif') %> Describe another dataset?</p>
      <p style="text-align:right;"><%= link_to(image_tag('mock-save.jpg'), "/mockup/show_project") %></p>
    </div>
  </div>
</div>