
#content-block
  = link_to("Create a new User", new_project_user_path(@project))
  - form_tag(update_user_groups_project_users_path, :method => 'post', :id => 'project-user-groups-form') do
    %table
      %thead
        %tr
          %th User Name
          - for group in @groups
            %th= group.name
      %tbody
        - for user in @users
          %tr
            %td= user.login
            -for group in @groups
              %td
                = check_box_tag("groups[#{group.id}][]", user.id, user.groups.include?(group), :id => "user_#{user.id}_group_#{group.id}")
                -if user.groups.include?(group)
                  = label_tag("user_#{user.id}_group_#{group.id}", 'In Group')
                -else
                  = label_tag("user_#{user.id}_group_#{group.id}", 'Not In Group')
    =submit_tag