= form_for(resource, :builder => YogoFormBuilder) do |f|
  = f.text_field(:name, :label => "Name:" )
  = f.text_field(:description, :label => "Description:", :size => 80)
  %table
    %thead
      %th Name
      %th Create
      %th Retrieve
      %th Update
      %th Destroy
    %tbody
      - SystemRole.available_permissions_by_source.each do |name, perms|
        %tr
          %td.h3= name.demodulize.titleize
          - [3, 1, 0, 2].each do |idx|
            - p = perms[idx]
            %td
              - attribute_name = p.split(/\/|\$/).join('_')
              = check_box_tag("system_role[actions][]", p.to_s, resource.actions.include?(p), 
                              :id => "system_role_action_#{attribute_name}" )
  = f.submit('Save', :class => 'icon icon-save')

