#content-title
  = resource.name
  #subtitle Role Settings
#content-actions
  = link_to("Delete", system_role_path(resource), 
      :class => 'icon icon-delete', :method => :delete,
      :confirm => "Are you sure you want to delete the #{resource.name} role?\nContinue?" )
= clear_break
= render(:partial => 'form')
