#new_variable_name_1{:dojoType=>"dijit.Dialog", :title=>"New Variable Name"}
  %h3 Create a new Variable Name:
  = form_for(:variable_name_c_v) do |f|
    = f.label("Term:")
    =clear_break
    = f.text_area("term", :cols => 45, :rows => 2, :style => {:resize => "none"}, :class => "var_name_term")
    = f.label("Definition:")
    = clear_break
    = f.text_area("definition", :cols => 45, :rows => 6, :style => {:resize => "none"}, :class => "var_name_definition")
    = f.submit("Save Variable Name", :class => "new-var-name-button")
  %label{:id => "var_name_close", :onclick=>"$('#new_variable_name').toggle('explode');", :class => "icon icon-close", :onmouseover =>"this.style.cursor='hand'"}

  :javascript  
    $(function() {
    $(".new-var-name-button").click(function() { 
      
    $.post("#{root_url + "variable_name_c_vs"}"+"?term=" + $(".var_name_term").val()+"&definition=" + $(".var_name_definition").val(),
    function(data) {
    $('#variable_variable_name').
    append($("<option></option>").
    attr("value",$(".var_name_term").val()).
    text($(".var_name_term").val())); 
    $('#variable_variable_name').val($(".var_name_term").val());
    $(".var_name_term").val("");
    $(".var_name_definition").val("");
    $("#new_variable_name").toggle();
    return false;
    }
    );
    return false;
    });
    });