-#variable partial
= render(:partial => "variable", :locals =>{:variable => @variables,
                                            :variable =>@variable,
                                            :units=>@units,
                                            :variable_names=>@variable_names,
                                            :sample_mediums=>@sample_mediums,
                                            :value_types=>@value_types,
                                            :speciations=>@speciations,
                                            :data_types=>@data_types,
                                            :general_categories=> @general_categories,
                                            :label_array=>@label_array,
                                            :current_variables=>@current_variables,
                                            :project=>@project})
%h2
  Setup File Parsing Options
Form Progress:
%div{:dojoType=>"dijit.ProgressBar", :jsId=>"jsProgress", :id=>"downloadProgress", :maximum=>"10"}

%div{:dojoType=>"dojo.data.ItemFileReadStore", :jsId=>"variableStore", :url=>"http://localhost:3000/projects/b6db01d0-e606-11df-863f-6e9ffb75bc80/apivs/dojo_variables_for_tree.json?"}
%div{:dojoType=>"dijit.tree.ForestStoreModel", :jsId=>"variableModel", :store=>"variableStore",
:query=>"{type:'general_category'}", :rootId=>"general_categoryid", :rootLabel=>"Variable General Categories",:childrenAttrs=>"children"}
#column_panes
  %div{:dojoType=>"dijit.TitlePane", :title=>"Sample Information", :id=> "samplePane"}
    %label{:id=>"site_label"}
      Choose A Site:
    %div{:dojoType=>"dijit.Tooltip", :connectId=> "site_label", :position=>"above"}
      Select the Site to associate all the data in this file with.
    =select_tag("site", options_for_select(@sites), :onChange=>"updateSite()")
    =clear_break
    =clear_break
    #selectedSite
      Currenlty Selected Site:  
      %span{:id => "selected_site", :class=>"var_spans"}None
    =clear_break  
    %button{:dojoType=>"dijit.form.Button", :title=>"Next", :id=>"next0", :disabled=>"disabled", :onclick=>"sampleButtonClick();" }
      Next
  - @columns.each do |col|
    %div{:id => "Column"+col.to_s, :dojoType=>"dijit.TitlePane", :title=>"Column"+col.to_s, :open => "false", :class => "column_panes", :toggleable=>"false"}
      = "Header Information:"
      =clear_break
      = "Row 1 Value:"
      =clear_break
      Currently Assigned:
      %span{:id => "var_span"+col.to_s, :class=>"var_spans"}None
      =clear_break
      %hr
      %b Column Assignment Options (Choose One): 
      #assignment_tab
        %div{:dojoType=>"dijit.layout.TabContainer", :class=>"option_tab" }
          %div{:dojoType=>"dijit.layout.ContentPane", :title=>"Voeis Variables", :selected=>"true"}
            To assign a variable to associate with this column for parsing click one of the buttons below.
            =clear_break
            =clear_break
            %button{:dojoType=>"dijit.form.Button", :title=>"Add Variable", :id=>"add_variable"+col.to_s, :onclick=>'dijit.byId("new_variable").show();', :class=>"icon icon-add"}
              %span
                Add A New Variable
            %div{:dojoType=>"dijit.form.DropDownButton", :id=>"variable_select_button"+col.to_s}
              %span
                Assign An Existing Variable
              %div{:dojoType=>"dijit.TooltipDialog", :id =>"variable_tooltip_dialog"+col.to_s}
                Hi there
                %div{:dojoType=>"dijit.Tree", :id=>"mytree-"+col.to_s, :model=>"variableModel", :openOnClick=>"true"}
                  %script{:type=>"dojo/method", :event=>"onClick", :args=>"item"}
                    if ($("#var_span#{col.to_s}").text() == "None"){
                    updateProgressBar();
                    }
                    $("#var_span#{col.to_s}").text("Variable: "+ variableStore.getLabel(item));
                    $("#var_td#{col.to_s}").text(variableStore.getLabel(item));
                    dijit.byId("next#{col.to_s}").set("disabled", false);
                    dijit.byId("next#{col.to_s}").focus();
                    dijit.byId("next#{col.to_s}").selected();
                    dijit.byId("Column#{col.to_s}").set("title", "Column#{col.to_s}: "+ variableStore.getLabel(item));
          %div{:dojoType=>"dijit.layout.ContentPane", :title=>"Timestamp"}
            To indicate that this column should be parsed as a timestamp click the button below.
            =clear_break
            =clear_break
            %button{:dojoType=>"dijit.form.Button", :title=>"Assign Timestamp", :id=>"assign_timestamp"+col.to_s, :onClick=>"assignTimestamp(#{col});", :class=>"icon icon-add"}
              %span
                Assign The Timestamp To This Column
          %div{:dojoType=>"dijit.layout.ContentPane", :title=>"Sample ID"}      
            To indicate that this column should be parsed as a Sample ID click the button below.
            =clear_break
            =clear_break
            %button{:dojoType=>"dijit.form.Button", :title=>"Assign SampleID", :id=>"assign_sampleid"+col.to_s, :onClick=>"assignSample(#{col});", :class=>"icon icon-add"}
              %span
                Assign The Sample ID To This Column
      =clear_break      
      
      %button{:dojoType=>"dijit.form.Button", :title=>"Next", :id=>"next"+col.to_s, :disabled=>"disabled", :onClick=>"nextButton(#{col})"}
        Next
=clear_break
=clear_break
%hr
#sample_table
  %h2 Summary of Parsing Instructions:
  Site to Associate with All Samples:
  %span{:id => "site_span", :class =>"var_spans"}None
  =clear_break
  =clear_break
  %table
    %tr
      %th &nbsp;
      - @columns.each do |col|
        %th
          = "Column" + col.to_s
    %tr
      %th Assigned
      - @columns.each do |col|
        %td
          %span{:id => "var_td"+col.to_s}None
  =submit_tag("Save Samples")
  = link_to('Cancel', project_path(@project), :class => 'icon icon-cancel')
:javascript  
  $(document).ready(function() {
  $("#accordion").accordion();
  });
  dojo.require("dijit.layout.TabContainer");
  dojo.require("dijit.layout.AccordionContainer");
  dojo.require("dijit.layout.ContentPane");
  dojo.require("dijit.form.Select");
  dojo.require("dijit.Dialog");
  dojo.require("dijit.ProgressBar");
  dojo.require("dojo.data.ItemFileReadStore");
  dojo.require("dijit.Tree");
  dojo.require("dijit.TitlePane");
  dojo.require("dijit.Tooltip");
  dojo.require("dijit.form.DropDownButton");
  dojo.require("dijit.TooltipDialog");
  
  function nextButton(column){
  dijit.byId("Column"+column).set('open',false);
  dijit.byId("Column"+column).set('toggleable',true);
  var next_column = column +1;
  dijit.byId("Column"+next_column).set('open',true);
  }
  var i = 0;
  function sampleButtonClick() {
  dijit.byId("samplePane").set("open", false);
  dijit.byId("Column1").set("open", true);
  }
  function updateSite(){
  if ($("#site_span").text() == "None"){
  updateProgressBar();
  $("#selectedSite").toggle();
  }
  $("#selected_site").text($("#site option[value ="+$("#site").val()+"]").text());
  $("#site_span").text($("#site option[value ="+$("#site").val()+"]").text());
  dijit.byId("next0").set("disabled", false);
  dijit.byId("next0").focus();
  dijit.byId("next0").selected();
  }
  function assignSample(column){
  if ($("#var_span"+column).text() == "None"){
  updateProgressBar();
  }
  $("#var_span"+column).text("Sample ID");
  $("#var_td"+column).text("Sample ID");
  dijit.byId("next"+column).set("disabled", false);
  dijit.byId("Column"+column).set("title", "Column"+column+": Sample ID");
  }
  function assignTimestamp(column){
  if ($("#var_span"+column).text() == "None"){
  updateProgressBar();
  }
  $("#var_span"+column).text("Timestamp");
  $("#var_td"+column).text("Timestamp");
  dijit.byId("next"+column).set("disabled", false);
  dijit.byId("Column"+column).set("title", "Column"+column+": Timestamp");
  }
  function updateProgressBar(){
  jsProgress.update({
  maximum: #{@columns.length + 1},
  progress: ++i
  });
  }