#upload
  %h3 Sample And Data Upload
  = form_tag ('pre_sample_and_data_upload', :multipart => true) do
    = 'File to upload:'
    = file_field_tag (:datafile, :accept => "text/csv,text/comma-separated-values,application/vnd.ms-excel")
    = hidden_field_tag( :project_id, :value =>@project.id)
    = clear_break
    General Category:
    -general_category_options = Array.new
    - @general_categories.all(:order => [:term.asc]).each do |data_type|
      -general_category_options <<[data_type.term]
    = select_tag('general_category',  options_for_select(general_category_options), :class => "data_type")
    =clear_break
    Please indicate which line data begins on.
    - opt_string = ""
    - (1..20).each do |i|
      - opt_string = opt_string + "<option value="+i.to_s+">"+i.to_s+"</option>"
    = select_tag('start_line', opt_string.html_safe)
    = clear_break
    You can select a Parsing Template to apply to this CSV:
    - template_string = '<option value="None">None</option>'
    - @templates.each do |template|
      -template_string = template_string + "<option value="+template.id.to_s+">"+template.name+"</option>"
    = select_tag("template", template_string.html_safe)
    = clear_break
    = submit_tag("Upload File", :onclick => "$('#loader').toggle();")
    = link_to('Cancel', {:action => 'show', :controller => '/projects', :id=>@project.id }, :class => 'icon icon-cancel', :onclick => "$('#loader').toggle();")
