
<div class='fitted-content' >
  <div id="roadmap">
    <%= image_tag('mock-roadmap-3.jpg') %>
  </div>
  <div class="large-centered-content">
    <% form_for(:project, :url => upload_csv_wizard_path(@project), :html => { :method => :post, :multipart => true}) do |f| -%>
  
     <p>
       <%= if @project.models.count.eql?(1)
            "There is currently #{@project.models.count} dataset." 
           else
            "There are currently #{@project.models.count} datasets." 
           end
       %> 
     </p>
      <%= f.label('model_name', 'Model Name:') %>
      <%= text_field_tag('model_name', nil, :id => 'project_model_name') %>
      <ul class='textdropdown'>
        <%- for model in @project.models -%>
          <li><%= model.public_name %></li>
        <%- end -%>
      </ul>
      <%= f.label('datafile', 'Select file:') %>
      <%= f.file_field( 'datafile', :accept => "text/csv,text/comma-separated-values,application/vnd.ms-excel") %><br>
    
      <div class='fitted-content text-center' >
        <!-- <div class='box' >&nbsp;</div> -->
        <%= f.submit( "Upload and Continue", :class => 'button-link') %>
        <%= f.submit("Upload and Finish", :class => 'button-link') %>
        <%= link_to("Finish", project_yogo_models_path(@project), :class => 'button-link') %>
      </div>
    <% end -%>
    
    <h3>Pre-loading your data with a spreadsheet.</h3>
    <p>
      If you already have your data in a spreadsheet, you can load in your data and dataset description all at once.  This is a convenient way to get started.
    </p>
  
    <h4>Requirements</h4>
    <p>1. The spreadsheets that can be loaded into the Yogo Data Management Toolkit must be in a particular format.  First, they must be in "comma separated values" format (often described as a "CSV" file).  Any modern spreadsheet application can export a spreadsheet in CSV format.</p>
    <p>2. The top three rows of the spreadsheet are special header information that the Yogo Data Management Toolkit needs to determine the character of the data columns.</p>
    <ul>
      <li>The first row contains the names of the variables (the column name)</li>
      <li>The second row contains the type of the values (text, number, etc.)</li>
      <li>The third row contains the units for the values (centimeters, degrees, etc.)</li>
    </ul>
  
    <h4>Example</h4>
    <p>For example, the contents of a spreadsheet might look something like the following image:</p>
    <%= image_tag('spreadsheet-example.png') %>
  
    <p>When the spreadsheet is exported as CSV, the resulting file would have following contents:</p>
    <pre>
   ID,      Name,    Mass,     Charge
   Integer, Text,    Decimal,  Decimal
   NA,      NA,      kg,       volts
   1,       Mickey,  1283.5,   1.2
   2,       Mario,   23492.2,  1.5
   3,       Sonic,   521213.8, 3.2
    </pre>
  </div> 
</div>
