%h2
- form_for(:site, resource, :url => project_sites_path(@project), :builder => YogoFormBuilder) do |f|
  = f.text_field("name")
  = f.text_field("code")
  = f.text_field("latitude")
  = f.text_field("longitude")
  = f.text_field("state")
  = f.submit("Submit")
  = link_to('Cancel', project_path(@project), :class => 'icon icon-cancel') 
  