- content_for(:javascripts) do
  :javascript
    dojo.require("dijit.dijit");
    dojo.require("dijit.Declaration");
    dojo.require("dojox.layout.TableContainer");
    dojo.require("dijit.form.TextBox");
    
- content_for(:toolbar) do
  #projectButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "project-icon-25"}
    %span Project
    %div{:dojoType => "dijit.Menu"}                    
      -if !current_user.nil? && current_user.projects.include?(@project)
        = link_to("Add Site", new_project_site_path(@project), :dojoType => "yogo.ui.MenuLink")
      - if @sites.count > 0
        = link_to("Add Variable", new_project_variable_path(@project), :dojoType => "yogo.ui.MenuLink")
        = link_to("Add Unit", new_project_unit_path(@project), :dojoType => "yogo.ui.MenuLink")
        = link_to("Add Sample", new_project_sample_path(@project), :dojoType => "yogo.ui.MenuLink")
        -#= link_to("Upload Sample Data", @project.id.to_s+"/data_values/pre_process_sample_file_upload", :dojoType => "yogo.ui.MenuLink")
        = link_to("Add Data Stream", new_project_data_stream_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")

      - if @project.managed_repository { Voeis::Sample.all.count } > 0
        = link_to("Add Sample Data", pre_process_project_data_values_path(@project), :dojoType => "yogo.ui.MenuLink")
        = link_to("Add Field Data", new_field_measurement_project_sensor_values_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
      - if @project.managed_repository { Voeis::DataStream.all.count } > 0
        = link_to("Add Data", add_project_data_streams_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
      = link_to("Settings...", edit_project_path(@project), :dojoType => "yogo.ui.MenuLink")
  #siteButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "project-icon-25"}
    %span Site
    %div{:dojoType => "dijit.Menu"}                    
      -if !current_user.nil? && current_user.projects.include?(@project)
        = link_to("Edit Site", edit_project_site_path(@project,resource.id), :dojoType => "yogo.ui.MenuLink")
    
%h2
  #{resource.name}

%table{:id => "property-table"}
  - resource.properties.each do |prop|
    %tr
      %td
        %b
          #{prop.name.to_s.capitalize}
      %td
        #{resource[prop.name]}
= link_to('Cancel', project_path(@project), :class => 'icon icon-cancel') 

%br
%br
#all_variables
  %h3
    Existing Samples    
  = form_for("export", :url => {:controller => '/projects', :action => 'export'}) do 
    = hidden_field_tag('column_array', @label_array.to_json)
    = hidden_field_tag('row_array', @current_samples.to_json)
    = hidden_field_tag('file_name', "project_samples")
    = submit_tag("Export Samples")
  #variables_list
    - visualization("sample-table", 'table', :height => 200) do |table|
      - if @label_array.length > 1
        - @label_array[0..-1].each do |label|
          - table.register_column(:string, label)
        - table.add_rows(@current_samples)
-#- if @versions.count > 0
-#  %h3
-#    Versions
-#    - @versions.each do |ver|
-#      %table
-#        - resource.properties.each do |prop|
-#          %tr
-#            %td
-#              %b
-#                #{prop.name.to_s.capitalize}
-#            %td
-#              #{ver[prop.name.to_s]}