-form_for(@user, :builder => YogoFormBuilder) do |f|
  = f.text_field(:login, :label => "Login:" )
  = f.text_field(:first_name)
  = f.text_field(:last_name)
  = f.text_field(:email)
  - if @user.new?
    = f.password_field(:password, :label => "Password: ")
    = f.password_field(:password_confirmation, :label => "Password Confirmation: ")
  = f.check_box(:admin)
  = f.check_box(:create_projects)
  = f.submit('Update', :class => 'button-link')
  = link_to('Cancel', edit_project_path(@project))