<div id="project-<%= project.id %>-model-<%= model.name.demodulize %>-attributes">
  <div id="list-attributes">
    <ul>
      <% attributes.each do |attr| %>
        <li><div id="project-<%= project.id %>-model-<%= model.name.demodulize %>-attributes-<%= attr %>">
        <%= "#{attr}".titleize %>
        <%#= link_to_remote("#{attr}".titleize, :url => histogram_attribute_project_yogo_data_url(project.id, model.name.demodulize, :attribute_name => attr),
                                    :update => "project-#{project.id}-model-#{model.name.demodulize}-attributes-#{attr}",
                                    :condition => 'check_navigation_element_state(this)',
                                    :position => :bottom,
                                    :method => :get ) %>
        </div></li>
      <% end %>
    </ul>
  </div>
</div>