%table.project
  %tr
    %td.map
      #map
        = render(:partial => "map", :locals => { :sites => @project.managed_repository{Voeis::Site.all} })
    %td.buttons
      = link_to("New Site", new_project_site_path(@project), :class => 'new-link')
      = clear_break
      -unless @project.managed_repository{Voeis::Site.all}.empty?
        = link_to("New Data Stream", new_project_data_stream_path(@project), :class => 'new-link')
        =clear_break
        = link_to("View Data Streams", project_data_streams_path(@project), :class => 'browse-link')
      -else 
        %h3 You need to add a site to this Project.

