#content-actions
  = link_to("New Project", new_project_path, :class => 'icon icon-add')
- if @projects.empty?
  There are no projects yet, you should create one!
%table
  %tbody
    %tr
      %td
        - for project in @projects
          #content-title
            = link_to(project.name, project_path(project), :class => project.is_private? ? 'icon icon-private' : nil, :onclick => "$('#loader').toggle();")
          #content-actions
            = link_to("Settings", edit_project_path(project), :class => 'icon icon-settings', :onclick => "$('#loader').toggle();")
          = clear_break
          .body-text
            - if project.description && project.description.length > 0
              %em= tooltip(project.description, project.name + ' Description', 150)
            - else
              %em= link_to('[Add Project Description]', edit_project_path(project))
          = clear_break

          %table
            %tbody
              %tr
                %td
                  = render(:partial => 'overview_map', :locals => { :project => project, :class_name => 'preview-map' } )
                %td
                  #content-title Last Updates:
                  = clear_break
                  - project.managed_repository do
                    - Voeis::Site.all.each do |site|
                      -if !site.sensor_values.last.nil?
                        = site.name + ': ' + site.sensor_values.last.timestamp.to_time.strftime("%m/%d/%Y at %I:%M%p, %Z")
                      -else
                        = site.name + ': never'
                      %br/
                %td
      
#pagination-links= pagination_links(Project, params[:page], 5)
