#content-actions
  = link_to("New Project", new_project_path, :class => 'icon icon-add')
- if @projects.empty?
  There are no projects yet, you should create one!  
%table
  %tbody
    %tr
      %td
        - for project in @projects
          %hr{:class => "project_seperator"}
          #content-title
            = link_to(project.name, project_path(project), :class => project.is_private? ? 'icon icon-private' : nil, :onclick => "$('#loader').toggle();")
            #content-actions
              #links
                -if !current_user.nil? && current_user.projects.include?(project)
                  = link_to("Settings", edit_project_path(project), :class => 'icon icon-settings', :onclick => "$('#loader').toggle();")
          = clear_break  
          .body-text
            - if project.description && project.description.length > 0
              %em= tooltip(project.description, project.name + ' Description', 150)
            - else
              %em= link_to('[Add Project Description]', edit_project_path(project))


          %table
            %tbody
              %tr
                - sites = project.managed_repository{ Voeis::Site.all }
                %td{:class => 'map_cell'}
                  = render(:partial => 'overview_map', :locals => { :project => project, :sites => sites, :class_name => 'preview-map' } )
                %td
                  #content-title Last Updates:
                  = clear_break
                  #content-sites
                    -#= sites_list(sites)
                %td
      
#pagination-links= will_paginate(@projects)
