- if @projects.empty?
  There are no projects yet, you should create one!
- for project in @projects
  .content-row-block.rbox
    .project-text
      %h2
        = link_to(project.name, project_path(project) ) 
        = image_tag('icons/private_16.png', :title => 'Private Project') if project.is_private?
      .action-links
        .map{:id => "map" + project.id.to_s}
          - visualization('map', 'Map') do |map|
            - map.number "Lat"
            - map.number "Lon"
            - map.string "Name"
            - sites = project.managed_repository{Voeis::Site.all}
            - rows = sites.map{|site| [site.latitude, site.longitude, site.site_name] }
            - map.add_rows( rows )
        .map-links
        = link_to("Settings", edit_project_path(project), :class => 'settings-link')
        = link_to("Add a Site", new_project_site_path(project), :class => 'new-link')
      %p.rbox.tight
        - if project.description && project.description.length > 0
          %strong= link_to('Project Description', edit_project_path(project), :title => 'Edit Project Description')
          %br/
          %em= tooltip(project.description, project.name + ' Description', 200)
        - else
          %em= link_to('[Add Project Description]', edit_project_path(project))
      
    .project-datasets
      %h3 Last Updates:
      - project.managed_repository do
        - Voeis::Site.all.each do |site|
          -if !site.sensor_values.last.nil?
            = site.site_name + ': ' + site.sensor_values.last.timestamp.to_time.strftime("%m/%d/%Y at %I:%M%p, %Z")
          -else
            = site.site_name + ': never'
          = clear_break

#pagination-links= pagination_links(Project, params[:page], 5)

