- if @projects.empty?
  There are no projects yet, you should create one!
- for project in @projects
  .content-row-block.rbox
    .project-text
      %h2
        = link_to(project.name, project_path(project) ) 
        = image_tag('icons/private_16.png', :title => 'Private Project') if project.is_private?
      .action-links
        .map{:id => "map" + project.id.to_s}
          = render(:partial => "map", :locals => { :sites => project.managed_repository{Voeis::Site.all} })
          .map-links
        /= link_to_edit_project_models(project, "Edit/Add Data Models", :class => 'button-link')
        = link_to("Project Settings", edit_project_path(project), :class => 'button-link')
        = link_to("Add a Site to #{project.name}", new_project_site_path(project), :class => 'button-link')
      %p.rbox.tight
        :javascript
          $(document).ready(function(){
          $.yogo_mapit($('#{'#map'+project.id.to_s}'), { locations: $.getJSON('#{project_sites_url(project)}') }
          );
          });
        - if project.description && project.description.length > 0
          %strong= link_to('Project Description', edit_project_path(project), :title => 'Edit Project Description')
          %br/
          %em= tooltip(project.description, 
                  project.name + ' Description', 200)
        - else
          %em= link_to('[Add Project Description]', edit_project_path(project))
      
    .project-datasets
      %h3 Last Updates:
      - project.managed_repository do
        - Voeis::Site.all.each do |site|
          -if !site.sensor_values.last.nil?
            =site.name + ': ' + site.sensor_values.last.timestamp.to_time.strftime("%m/%d/%Y at %I:%M%p, %Z")
            =clear_break
          -else
            =site.name + ': never'
            =clear_break

#pagination-links= pagination_links(Project, params[:page], 5)

