<h1 id='content-title'><%= @project.name %></h1>
<div id='content-actions'>
  <%= link_to("Edit Datasets", project_yogo_models_path(@project), :class => 'button-link') %>
  <%= link_to("Delete Project", project_path(@project), :method => :delete, :class => 'button-link', :confirm => "There is no undo.\n Continue?" ) %>
</div>

<%#= render(:partial => 'layouts/sidebar') %>
<div id='content-block'>
<%- for dataset in @project.models -%>
  <% @item = dataset.new %>
  <div class='content-row-block'>
  <div class='dataset-name'>
    <h2><%= dataset.public_name %></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  </div>
  <div class='dataset-info'>
    <div class="action-links">
      <%= link_to("Browse All Data", project_yogo_data_index_path(@project, dataset)) %>
      | <%= link_to("Edit Dataset", project_yogo_models_path(@project)) %>
      | <%= link_to("Browse All Data", project_yogo_data_index_path(@project, dataset)) %>
      | <%= link_to("Download CSV", project_yogo_data_index_path(@project, dataset, :format => 'csv')) %>
    </div>
    <div class='project-stats'></div>
    <a class='button-link' onClick="$('#<%= dataset.to_param %>-quick-data').toggle('fast');">QuickView</a>
    <div class='quickview-data'  id='<%= dataset.to_param %>-quick-data'>
      <table>
        <thead>
          <tr>
            <th class="data-index-table-actions"></th>
            <%- dataset.usable_properties.each do |h| %>
              <th><%= h.display_name.to_s.titleize %></th>
            <%- end %>
          </tr>
        </thead>
        <tbody>
        <%- for data in dataset[0..2] -%>
          <tr class="<%= cycle("alternate-rows0", "") %>">
            <td class="data-index-table-actions"><%= link_to(image_tag('view.gif', :alt => "View Item", :title => "View Item"), project_yogo_data_path(@project, dataset, data)) %>
            <%= link_to(image_tag('edit.png',:alt => "Edit Item", :title => "Edit Item"), edit_project_yogo_data_path(@project, dataset, data)) %>
            <%= link_to(image_tag('remove.png',:alt => "Delete Item", :title => "Delete Item"), project_yogo_data_path(@project, dataset, data), :method => :delete, :confirm => "There is no undo.\n Continue?") %></td>
            <%- for param in dataset.usable_properties -%>
              <td><%= yogo_show_helper(data, param, @project, dataset) %></td>
            <%- end -%>
          </tr>
        <%- end -%>
        </tbody>
      </table>
    </div>
  </div>
  </div>
<%- end -%>
</div>