#content-title 
  = @project.name
  = image_tag('icons/private_16.png', :title => 'Private Project') if @project.is_private?      
#content-actions
  = link_to("Settings", edit_project_path(@project), :class => 'settings-link')
%table
  %tr
    %td.map
      = render(:partial => 'overview_map', :locals => { :project => @project } )
    %td.buttons
      = link_to("Create A Site", new_project_site_path(@project), :class => 'new-link')
      = clear_break
      = link_to("Add A Site", add_site_project_sites_path(@project), :class => 'new-link')
      = clear_break
      = link_to("Add a Data Stream", new_project_data_stream_path(@project), :params => {:project_id => @project.id},:class => 'new-link')
      = clear_break
      = link_to("View Data Streams", project_data_streams_path(@project), :class => 'button-link')
