<h1><%= @project.name %></h1>
<div id="project-remove-link">
  <%= link_to(image_tag('remove.png')+"Remove Project", project_path(@project), :method => :delete, :confirm => "Removing this project will destroy all data associated with it.\n Continue?") %>
</div>
<table id="project-show">
  <thead>
    <tr>
      <th>Models</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <%- i = 0 %>
    <%- @models.each do |m| %>
      <%- if i == 2 : i = 0 end %>
      <tr id="project-show-row" class="alternate-rows<%= i %>">
        <td><%= link_to(m.name.split('::')[-1].titleize, project_yogo_model_path(@project, m.name.split('::')[-1])) %></td>
        <td>(<%= link_to(m.count, project_yogo_data_index_path(@project, m.name.split('::')[-1])) %>)</td>
      </tr>
      <%- i += 1 %>
    <%- end %>
  </tbody>
</table>

<div id="upload">
  <%= render :partial => 'upload' %>
</div>
