<div id="liquid-content">
    <h2><%= @project.name %></h2>
    <%= link_to(image_tag('edit_big.png')+"Edit dataset descriptions", "/mockup/edit") %>
    <%- for dataset in @project.models -%>
    <% @item = dataset.new %>
    <%- form_for(@item, 
            :url => project_yogo_data_index_path(@project, dataset), 
            :html => { :enctype => 'multipart/form-data' },
            :builder => YogoDataFormBuilder) do |f| -%>

      <h2 class="trigger"><a href="#"><%= dataset.public_name %></a></h2>
      <div class='toggle-container'>
        <div class="block">
          <table class="mock-data" >
            <thead>
              <tr>
                <th class="data-index-table-actions"></th>
                <%- dataset.usable_properties.each do |h| %>
                  <th><%= h.display_name.to_s.titleize %></th>
                <%- end %>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td><%= f.submit %></td>
                <%- dataset.usable_properties.each do |p| %>
                  <td><%= f.field_for_param(p) %></td>
                <% end %>
             </tr>
                <%- for data in dataset[0..2] -%>
                <tr class="<%= cycle("alternate-rows0", "") %>">
                  <td class="data-index-table-actions"><%= link_to(image_tag('view.gif', :alt => "View Item", :title => "View Item"), project_yogo_data_path(@project, dataset, data)) %>
                  <%= link_to(image_tag('edit.png',:alt => "Edit Item", :title => "Edit Item"), edit_project_yogo_data_path(@project, dataset, data)) %>
                  <%= link_to(image_tag('remove.png',:alt => "Delete Item", :title => "Delete Item"), project_yogo_data_path(@project, dataset, data), :method => :delete, :confirm => "There is no undo.\n Continue?") %></td>
                  <%- for param in dataset.usable_properties -%>
                    <td><%= yogo_show_helper(data, param, @project, dataset) %></td>
                  <%- end -%>
                </tr>
              <%- end -%>
              <tr>
                <td colspan="3"><%= link_to("See More...", project_yogo_data_index_path(@project, dataset)) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <%- end -%>
    <%- end -%>
  </div>
  
  