- content_for(:javascripts) do
  :javascript
    dojo.require("dijit.Dialog");
    
- content_for(:toolbar) do
  #projectButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "project-icon-25"}
    %span Project
    %div{:dojoType => "dijit.Menu"}                    
      -if !current_user.nil? && current_user.projects.include?(@project)
        = link_to("Add Site", new_project_site_path(@project), :dojoType => "voeis.MenuLink")
      - if @sites.count > 0
        = link_to("Add Variable", new_project_variable_path(@project), :dojoType => "voeis.MenuLink")
        = link_to("Add Unit", new_project_unit_path(@project), :dojoType => "voeis.MenuLink")
        = link_to("Add Sample", new_project_sample_path(@project), :dojoType => "voeis.MenuLink")
        -#= link_to("Upload Sample Data", @project.id.to_s+"/data_values/pre_process_sample_file_upload", :dojoType => "voeis.MenuLink")
        = link_to("Add Data Stream", new_project_data_stream_path(@project), :params => {:project_id => @project.id}, :dojoType => "voeis.MenuLink")
        
      - if @project.managed_repository { Voeis::Sample.all.count } > 0
        = link_to("Add Sample Data", pre_process_project_data_values_path(@project), :dojoType => "voeis.MenuLink")
        = link_to("Add Field Data", new_field_measurement_project_sensor_values_path(@project), :params => {:project_id => @project.id}, :dojoType => "voeis.MenuLink")
      - if @project.managed_repository { Voeis::DataStream.all.count } > 0
        = link_to("Add Data", add_project_data_streams_path(@project), :params => {:project_id => @project.id}, :dojoType => "voeis.MenuLink")
      = link_to("Settings...", edit_project_path(@project), :dojoType => "voeis.MenuLink")

            
#content-actions
  
#content-title 
  - if @project.is_private == true
    %span.icon.icon-private= @project.name
  - else
    %span.icon= @project.name
  #links

    - if @project.managed_repository { Voeis::DataStream.all.count } > 0
      = link_to("Browse Data Streams", query_project_data_streams_path(@project), :class => 'button-link')
    - if @project.managed_repository { !Voeis::DataValue.first.nil? }
      = link_to("Browse Sample Data", query_project_samples_path(@project), :class => 'button-link')
= clear_break
#about-accordion
  %h3
    %a{:href=>"#"}
      Project Overview
  .overview-item
    = render(:partial => 'overview_map', :locals => { :project => @project,
                                                      :sites => @sites,
                                                      :class_name => 'show-map' } )
    %p
      - if @project.description && @project.description.length > 0
        = @project.description
      - else
        = link_to('[Add Project Description]', edit_project_path(@project))
    
      
.data-browser
  #content-sidebar-left
    = render_cell(:site_browser, :display, :project => resource)
    = render(:partial => 'site_streams_picker', :locals => { :project => @project })  
  #main-with-sidebar-left
    #graph-accordion
      %h3
        %a{:href=>"#"}
          Graph
      .data-graph
        = render(:partial => 'graph',:locals => {:data => @current_data, :labels => @label_array,
                                                  :project => @project, :class_name => 'data-graph' })
    .data-table                                            
      = render(:partial => 'data_table', :locals => { :data => @current_data, :labels => @label_array,
                                                      :project => @project, :class_name => 'data-table' })  
  
= clear_break



#hidden-cells-and-partial
  =render_cell(:add_site, :display_form, :site => @site, :project => @project)
