<h1><%= @project.name %>: <em>Overview</em></h1>
<!-- <div id="project-overview">
  <%#= @project.description%>
</div> -->

<table id="project-show">
  <thead>
    <tr>
      <th><%#= "Models" if @models.length > 0 %></th>
      <th><%#= "Data" if @models.length > 0 %></th>
    </tr>
  </thead>
  <tbody>
    <%- @models.each do |m| %>
      <tr id="project-show-row" class="<%= cycle('alternate-rows0', 'alternate-rows1') %>">
        <td><%= link_to(image_tag('view.gif', :alt => "View", :title => "View"), project_yogo_model_path(@project, m.name.demodulize)) %></td>
        <td><%= link_to(image_tag('edit.png', :alt => "Edit", :title => "Edit"), edit_project_yogo_model_path(@project, m.name.demodulize)) %></td>
        <td><%= link_to(image_tag('remove.png', :alt => "Remove", :title => "Remove"), project_yogo_model_path(@project, m.name.demodulize), :method => :delete, :confirm => 'Removing this model will also destroy all data associated with the model. Continue?') %></td>
        <td><%= m.name.demodulize.titleize %></td>
        <!-- <td>(<%#= link_to(m.count, project_yogo_data_index_path(@project, m.name.demodulize)) %>)</td> -->
      </tr>
    <%- end %>
  </tbody>
</table>

<%= link_to(image_tag('add.gif', :alt => "Create a new model", :title => "Create a new model") + " Create a new model", new_project_yogo_model_path(@project)) %>

<div id="upload">
  <%= render :partial => 'upload' %>
</div>

<div id="project-remove-link">
  <%= link_to(image_tag('remove.png')+"Remove this project", project_path(@project), :method => :delete, :confirm => "Removing this project will destroy all data associated with it.\n Continue?") %>
</div>