#project-actions
  %table.project
    %tr
      %td.map
        - visualization('map', 'Map') do |map|
          - map.number "Lat"
          - map.number "Lon"
          - map.string "Name"
          - sites = resource.managed_repository{Voeis::Site.all}
          - rows = sites.map{|site| [site.latitude, site.longitude, site.site_name] }
          - map.add_rows( rows )
      %td.buttons
        = link_to("Add Site", new_project_site_path(@project), :class => 'new-link')
        = clear_break
        = link_to("Add a Data Stream", new_project_data_stream_path(@project), :params => {:project_id => @project.id},:class => 'new-link')
        = clear_break
        = link_to("View Data Streams", project_data_streams_path(@project), :class => 'button-link')
