<h1><%= @project.name %></h1>
<div id="project-remove-link">
  <%= link_to(image_tag('remove.png')+"Remove Project", project_path(@project), :method => :delete, :confirm => "Removing this project will destroy all data associated with it.\n Continue?") %>
</div>
<table id="project-show">
  <thead>
    <tr>
      <th>Models</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <%- @models.each do |m| %>
      <tr id="project-show-row" class="<%= cycle('alternate-rows0', 'alternate-rows1') %>">
        <td><%= link_to(m.name.demodulize.titleize, project_yogo_model_path(@project, m.name.demodulize)) %></td>
        <td>(<%= link_to(m.count, project_yogo_data_index_path(@project, m.name.demodulize)) %>)</td>
      </tr>
    <%- end %>
  </tbody>
</table>

<div id="upload">
  <%= render :partial => 'upload' %>
</div>
