
<div id="search-tab">
  <%= image_tag('mock-search-tab.png') %>
</div>

  
  <div id="content-with-sidebar">
    <h3><%= @project.name %></h2>
    <%= link_to(image_tag('edit_big.png')+"Edit dataset descriptions", "/mockup/edit") %>
    
    <%- for dataset in @project.models -%>
      <h2 class="trigger"><a href="#"><%= dataset.public_name %></a></h2>
      <div class='toggle-container'>
        <div class="block">
          <table class="mock-data" >
            <thead>
              <tr>
                <th colspan="2">Control - 4 Digit Delay RT</th>
              </tr>
            </thead>
            <tbody>
              <%- for data in dataset[0..2] -%>
                <tr class="<%= cycle("alternate-rows0", "") %>">
                  <%- for param in dataset.usable_properties -%>
                    <td><%= yogo_show_helper(data, param, @project, dataset) %></td>
                  <%- end -%>
                </tr>
              <%- end -%>
              <tr>
                <td colspan="3"><%= link_to("See More...", project_yogo_data_index_path(@project, dataset)) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <%- end -%>
  </div>
  
  