#content-actions
  = link_to("Settings", edit_project_path(@project), :class => 'icon icon-settings')
#content-title 
  - if @project.is_private == true
    %span.icon.icon-private= @project.name
  - else
    %span.icon= @project.name
  #links
    %span Add a: 
    = link_to("Site", new_project_site_path(@project), :class => 'icon icon-add')
    - if @project.managed_repository { Voeis::Site.all.count } > 0
      = link_to("Variable", new_project_variable_path(@project), :class => 'icon icon-add')
      = link_to("Unit", new_project_unit_path(@project), :class => 'icon icon-add')
      = link_to("Sample", new_project_sample_path(@project), :class => 'icon icon-add')
      - if @project.managed_repository { Voeis::Sample.all.count } > 0
        = link_to("Sample Data", pre_process_project_data_values_path(@project), :class => 'icon icon-add')
      = link_to("Data Stream", new_project_data_stream_path(@project), :params => {:project_id => @project.id}, :class => 'icon icon-add')
      - if @project.managed_repository { Voeis::DataStream.all.count } > 0
        = link_to("Data", add_project_data_streams_path(@project), :params => {:project_id => @project.id}, :class => 'icon icon-add')
      = link_to("View Data Streams", project_data_streams_path(@project), :class => 'button-link')
      = link_to("Browse Data Streams", query_project_data_streams_path(@project), :class => 'button-link')
= clear_break
#about-accordion
  %h3
    %a{:href=>"#"}
      Project Overview
  .overview-item
    = render(:partial => 'overview_map', :locals => { :project => @project, 
                                                      :class_name => 'show-map' } )
    %p
      - if @project.description && @project.description.length > 0
        = @project.description
      - else
        = link_to('[Add Project Description]', edit_project_path(@project))
    
      
.data-browser
  #content-sidebar-left
    = render(:partial => 'site_streams_picker', :locals => { :project => @project })  
  #main-with-sidebar-left
    #graph-accordion
      %h3
        %a{:href=>"#"}
          Graph
      .data-graph
        = render(:partial => 'graph',:locals => {:data => @current_data, :labels => @label_array,
                                                  :project => @project, :class_name => 'data-graph' })
    .data-table                                            
      = render(:partial => 'data_table', :locals => { :data => @current_data, :labels => @label_array,
                                                      :project => @project, :class_name => 'data-table' })  
  
= clear_break
