%h2
  = link_to(@project.name, project_path(@project) , :onload=> "$('#loader').toggle();")
/-if !row_size.nil?  
%h3 Data Stream Import Form
=clear_break
-form_tag("create_stream", :onSubmit => "return checkform();") do 
  -@column_options= ""
  Please give this Data Stream a Name: 
  =text_field_tag ("data_stream_name")
  =clear_break
  =clear_break
  Please provide a description of this Data Stream:
  =clear_break
  =text_area_tag("data_stream_description")
  =clear_break
  =clear_break
  Please select the site this Data Stream should be associated with:
  -@site_options=""
  -sites.all(:order => [:name.asc]).each do |site|
    -if site.id != nil
      -@site_options= @site_options + "<option value="+site.id.to_s+">"+site.name+"</option>"
  =select_tag("site", @site_options)
  =clear_break
  =clear_break
  Select what VOEIS variables should be associated with these columns from the Logger file
  =header_box
  -if header_box == 'Campbell'
    %table
      %tr
        %th Column
        %th Ignore
        %th Starting Row Values
        %th Logger Variable/Sensor Name
        %th Logger Unit
        %th Logger Type
        %th Selected VOEIS Variable
        %th Alert Min
        %th Alert Max
        %th Alert Deviation
      -(0..row_size).each do |i|
        -@column_options= @column_options + "<option value="+i.to_s+">Column "+i.to_s+"</option>"
        %tr
          %td 
            =i.to_s
          %td
            -if @var_array[i][7] == "ignore"
              =check_box_tag("ignore"+i.to_s, true,true)
            -else
              =check_box_tag("ignore"+i.to_s)
          %td
            =@start_row[i]
          %td 
            /=header_info[i]["variable"]
            =text_field_tag("variable"+i.to_s, header_info[i]["variable"])
          %td 
            =header_info[i]["unit"]
            =hidden_field_tag("unit"+i.to_s, header_info[i]["unit"])
          %td 
            =header_info[i]["type"]
            =hidden_field_tag("type"+i.to_s, header_info[i]["type"])
          %td 
            =select_tag("column"+i.to_s, var_array[i][3])
          %td
            =text_field_tag("min"+i.to_s,var_array[i][4], :size=>8)
          %td
            =text_field_tag("max"+i.to_s,var_array[i][5],:size=>8)
          %td
            =text_field_tag("difference"+i.to_s,var_array[i][6],:size=>8)
  -else
    %table
      %tr
        %th Column
        %th Ignore
        %th Starting Row Values
        %th Logger Variable/Sensor Name
        %th Logger Unit
        %th Logger Type
        %th Selected VOEIS Variable
        %th Alert Min
        %th Alert Max
        %th Alert Deviation
      -(0..row_size).each do |i|
        -@column_options= @column_options + "<option value="+i.to_s+">Column "+i.to_s+"</option>"
        %tr
          %td 
            =i.to_s
          %td
            -if @var_array[i][7] == "ignore"
              =check_box_tag("ignore"+i.to_s, true,true)
            -else
              =check_box_tag("ignore"+i.to_s)
          %td
            =@start_row[i]
          %td 
            =text_field_tag("variable"+i.to_s,var_array[i][0].empty? ? "Variable #{i.to_s}" : var_array[i][0])
          %td 
            =text_field_tag("unit"+i.to_s,  var_array[i][1].empty? ? "Unit #{i.to_s}" : var_array[i][1])
          %td 
            =text_field_tag("type"+i.to_s,  var_array[i][2].empty? ? "Type #{i.to_s}" : var_array[i][2])
          %td 
            =select_tag("column"+i.to_s, var_array[i][3])
          %td
            =text_field_tag("min"+i.to_s,var_array[i][4],:size=>8)
          %td
            =text_field_tag("max"+i.to_s,var_array[i][5],:size=>8)
          %td
            =text_field_tag("difference"+i.to_s,var_array[i][6],:size=>8)
  =clear_break
  Please specify which column should be used as the time-stamp:
  =select_tag("timestamp", @column_options)
  =hidden_field_tag('datafile', new_file)
  =hidden_field_tag('project_id', project_id)
  =hidden_field_tag('rows', row_size)
  =hidden_field_tag('row_size', row_size)
  =hidden_field_tag("start_line", start_line)
  =hidden_field_tag("header_box", header_box)
  =hidden_field_tag("header_info", header_info)
  =hidden_field_tag("var_array", var_array)
  =hidden_field_tag("data_template", data_template)
  =hidden_field_tag("sites", sites)
  =clear_break
  =submit_tag("Submit", :onclick => "$('#loader').toggle();")
  = link_to('Cancel', {:action => 'show', :controller => '/projects', :id=>@project.id }, :class => 'icon icon-cancel', :onclick => "$('#loader').toggle();", :onload => "$('#loader').toggle();")

:javascript  
  function checkform()
  {if ($('#data_stream_name').val() =="")
  {
  // something is wrong
  alert('The Data Stream Name field requires a name before this form can be submitted.');
  $('#loader').toggle();
  return false;
  }
  // If the script gets this far through all of your fields
  // without problems, it's ok and you can submit the form
  return true;
  }
