#add
  %h3 Data File Management
  = form_tag('upload', :multipart => true) do
    <label for="upload_file">Select File</label> : 
    = file_field_tag('datafile', :accept => "text/csv,text/comma-separated-values,application/vnd.ms-excel")
    = hidden_field_tag('project_id', @project.id)
    = clear_break
    You can select a DataTemplate to apply to this CSV:
    - template_string = ""
    - @data_templates.each do |template|
      - template_string = template_string + "<option value="+template.id.to_s+">"+template.name+"</option>"
    = select_tag("data_template_id", template_string)
    = clear_break
    = submit_tag("Upload Logger File", :onclick => "$('#loader').toggle();", :class => 'icon icon-save')
    = link_to('Cancel', {:action => 'show', :controller => '/projects', :id=>@project.id }, :class => 'icon icon-cancel', :onclick => "$('#loader').toggle();")
