%h1 Search Data Streams:
= form_for(:query, @query, :url => { :action => 'search'}, :remote => true) do |f|
  Site: 
  = select_tag ("site", @site_options.html_safe)
  Variable: 
  = select_tag ("variable", @variable_opts.html_safe)                                                                              
  = clear_break
  Dates After: 
  = date_select('range', 'start_date', :order => [:month, :day, :year])
  Dates Before: 
  = date_select('range', 'end_date', :order => [:month, :day, :year])
  = clear_break

  = f.submit('Search')
= clear_break

#search_results
  :javascript  
    $(function() {
    $("#site").change(function() { 
    $.get("#{site_sensor_variables_project_data_streams_path}"+".json?site_id=" + $("#site").val(),
    function(data) {
    $('#variable').empty();
    if (data.variables.length == 0){
    $('#variable').append($("<option></option>").attr("value","None").text("None"));
    }
    else{  
    $('#variable').append($("<option></option>").attr("value","All").text("All"));
    }
    var i = 0;
    for(i=0;data.variables.length; i++)
    {
    $('#variable'). append($("<option></option>").attr("value",data.variables[i].id).text(data.variables[i].name));
    }
    return false;
    }
    );
    return false;
    });
    });