%h1 Search Data Streams:
= form_for(:query, @query, :url => { :action => 'search'}, :remote => true) do |f|
  Site: 
  = select_tag("site", options_for_select(@site_opts_array.sort))
  =clear_break
  Data Stream:
  = select_tag("data_stream", options_for_select(@data_stream_opts_array.sort))
  =clear_break
  Variable: 
  = select_tag("variable", options_for_select(@variable_opts_array.sort))                                                                              
  = clear_break
  Dates After: 
  = date_select('range', 'start_date', :start_year => @start_year, :end_year => @end_year, :order => [:month, :day, :year])
  Dates Before: 
  = date_select('range', 'end_date', :start_year => @start_year, :end_year => @end_year, :order => [:month, :day, :year])
  = clear_break

  = f.submit('Search', :onclick => "$('#loader').toggle();")
  = link_to('Cancel', project_path(@project), :class => 'icon icon-cancel') 
= clear_break

#search_results
  :javascript  
    $(function() {
    
    $(document).ready(function() {
    update_variables();
    });
    function update_variables(){
    $('#loader').toggle();
    $.get("#{data_stream_sensor_variables_project_data_streams_path}"+".json?data_stream_id=" + $("#data_stream").val(),
    function(data) {
    $('#variable').empty();
    if (data.variables.length == 0){
    $('#variable').append($("<option></option>").attr("value","None").text("None"));
    }
    else{
    var i = 0;
    for(i=0;i< data.variables.length; i++)
    {
    $('#variable').append($("<option></option>").attr("value",data.variables[i].id).text(data.variables[i].name));
    }}
    $('#loader').toggle();
    return false;
    }
    );
    return false;
    };
    $('#data_stream').change(function() { 
    update_variables();
    });
    
    $('#site').change(function() { 
    $('#loader').toggle();
    $.get("#{site_data_streams_project_data_streams_path}"+".json?site_id=" + $("#site").val(),
    function(data) {
    $('#data_stream').empty();
    if (data.data_streams.length == 0){
    $('#data_stream').append($("<option></option>").attr("value","None").text("None"));
    update_variables();
    }
    else{
    var i = 0;
    for(i=0;i< data.data_streams.length; i++)
    {
    $('#data_stream').append($("<option></option>").attr("value",data.data_streams[i].id).text(data.data_streams[i].name));
    }}
    update_variables();
    $('#loader').toggle();
    return false;
    }
    );
    return false;
    });
    });
