<h1>New HIS Censor CV</h1>

<%= form_for :censor_code_cv, @censor_code_cv, :url => { :action => "create"} do |f| %>
  Term: <%= f.text_field :term %>
  <p>
  Definition: <%= f.text_field :definition %>

  <p>

    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', his_censor_code_c_vs_path %>
