<div id="search-data">
  <%- form_for(@model, :url => search_project_yogo_data_path(@project, @model.name.demodulize), :html => {:method => :get} ) do |f| -%>
    <%= text_field_tag("search_term") %>
    <%= f.submit('Search') %>
  <%- end -%>
</div>

<%= link_to(image_tag('add.gif')+' Add Data', new_project_yogo_data_path(@project, @model.name.demodulize))%>

<div id="data-index">

  <H3><%= @model.name.demodulize.titleize %> (<%= @model.count %>)</H3>

  <% cols = @model.properties.map { |prop| [ Yogo::Types.dm_to_gv(prop.type), Extlib::Inflection.humanize(prop.name.to_s) ] }%>
  <% gvdata = @data.map { |item| @model.properties.map { |p| item[p.name]  } } %>
  <% visualization("test_table", "Table", {:data => gvdata, :columns => cols }) { } %>
  
</div>

<div id="pagination-links">
  <%= pagination_links(@query, params[:page], 10) %>
</div>

<%= render :partial => 'csv_form'%>


