<div id="search-data">
  <%- form_for(@model, :url => search_project_yogo_data_path(@project, @model.name.demodulize), :html => {:method => :get} ) do |f| -%>
    <%= text_field_tag("search_term") %>
    <%= f.submit('Search') %>
  <%- end -%>
</div>

<%= link_to(image_tag('add.gif')+' Add Data', new_project_yogo_data_path(@project, @model.name.demodulize))%>

<div id="data-index">
  <H3><%= @model.name.demodulize.titleize %> (<%= @model.count %>)</H3>

  <table id="data-index-table">
    <thead>
      <tr>
        <%- @model.properties.each do |h| %>
        <th><%= h.name.to_s.titleize %></th>
        <%- end %>
        <th></th><th></th>
      </tr>
    </thead>
    <tbody>
    <%- @data.each do |d| %>
      <tr>
        <%- @model.properties.each do |p| %>
        <td><%= d[p.name] %></td>
        <%- end %>
        <td><%= link_to(image_tag('edit.png')+'Edit', edit_project_yogo_data_path(@project, @model.name.demodulize, d.id)) %></td>
        <td><%= link_to(image_tag('remove.png')+'Delete', project_yogo_data_path(@project, @model.name.demodulize, d.id), :method => :delete, :confirm => "There is no undo.\n Continue?") %></td>
      </tr>
      <%- end %>
    </tbody>
  </table>
</div>
<div id="pagination-links">
  <%= pagination_links(@data, params[:page], 10) %>
</div>

<%= render :partial => 'csv_form'%>


