<H3><%= @model.name.split("::")[-1].titleize %> (<%= @model.count %>)</H3>
<table id="data-index">
  <thead>
    <tr>
      <th></th><th></th>
      <%- @model.properties.each do |h| %>
      <th><%= h.name.to_s.titleize %></th>
      <%- end %>
    </tr>
  </thead>
  <tbody>
  <%- @data.each do |d| %>
    <tr>
      <td><%= link_to(image_tag('edit.png')+'Edit', edit_project_yogo_data_path(@project, @model.name.split("::")[-1], d.id)) %></td>
      <td><%= link_to(image_tag('remove.png')+'Delete', project_yogo_data_path(@project, @model.name.split("::")[-1], d.id), :method => :delete, :confirm => "There is no undo.\n Continue?") %></td>
      <%- @model.properties.each do |p| %>
      <td><%= d[p.name] %></td>
      <%- end %>
    </tr>
    <%- end %>
  </tbody>
</table>
<div id="pagination-links">
  <%= pagination_links(@data, params[:page], 10) %>
</div>
<%= render :partial => 'csv_form'%>

<!-- Tried flipping the table on its side. -->
<!-- <table>
  <thead>
  </thead>
  <tbody>
    
      <%#- @model.properties.each do |p| %>
      <tr>
      <td><%#= p.name.to_s.titleize %></td>
      <%#- @data.each do |d| %>
      <td><%#= d[p.name] %></td>
            <%#- end %>
      </tr>

      <%#- end %>
  </tbody>
</table> -->