<H3><%= @model.name.demodulize.titleize %></H3>

<%= link_to(image_tag('edit.png')+'Edit', edit_project_yogo_data_path(@project, @model.name.demodulize, @item.yogo_id)) %>
<%= link_to(image_tag('remove.png')+'Delete', project_yogo_data_path(@project, @model.name.demodulize, @item.yogo_id), :method => :delete, :confirm => "There is no undo.\n Continue?") %>
<br><br>
<table id="data-show">
  <thead>
  </thead>
  <tbody>
      <%- @model.usable_properties.each do |p| %>
      <tr>
      <td><%= p.display_name.titleize %></td>
      <td><%= yogo_show_helper(@item, p, @model.asset_path) %>
      </tr>
      <%- end %>
  </tbody>
</table>

