<H3><%= @model.name.split("::")[-1].titleize %></H3>
<table>
  <thead>
  </thead>
  <tbody>
      <%- @model.properties.each do |p| %>
      <tr>
      <td><%= p.name.to_s.titleize %></td>
      <td><%= @item[p.name] %></td>
      </tr>
      <%- end %>
  </tbody>
</table>

<%= link_to('Edit', edit_project_yogo_collection_yogo_data_path(@project, @model.name.split("::")[-1], @item.id)) %>|<%= link_to('Delete', project_yogo_collection_yogo_data_path(@project, @model.name.split("::")[-1], @item.id), :method => :delete) %>