<H3><%= @model.name.demodulize.titleize %></H3>

<%= link_to(image_tag('edit.png')+'Edit', edit_project_yogo_data_path(@project, @model.name.demodulize, @item.id)) %>
<%= link_to(image_tag('remove.png')+'Delete', project_yogo_data_path(@project, @model.name.demodulize, @item.id), :method => :delete, :confirm => "There is no undo.\n Continue?") %>
<br><br>
<table id="data-show">
  <thead>
  </thead>
  <tbody>
      <%- @model.properties.each do |p| %>
      <tr>
      <td><%= label(p.name, p.name.to_s.titleize) %></td>
      <td><%= @item[p.name]%></td>
      </tr>
      <%- end %>
  </tbody>
</table>

