=form_for(@role, :builder => YogoFormBuilder) do |f|
  = f.text_field(:name, :label => "Name:" )
  = f.text_field(:description, :label => "Description:", :size => 80)
  %table
    %thead
      %th Name
      %th Create
      %th Retrieve
      %th Update
      %th Destroy
    %tbody
      - Role.available_permissions_by_source.each do |name, permissions|
        %tr
          %td.h3= name.demodulize.titleize
          - ['create', 'retrieve', 'update', 'destroy'].each do |permission_name|
            - p = permissions.select{|item| item.match(/\$#{permission_name}\z/)}.first
            %td
              - attribute_name = p.split(/\/|\$/).join('_')
              = check_box_tag("role[actions][]", p.to_s, @role.actions.include?(p), 
                              :id => "role_action_#{attribute_name}" )
  = f.submit('Save', :class => 'icon icon-save')