-form_for(@role, :builder => YogoFormBuilder) do |f|
  = f.text_field(:name, :label => "Name:" )
  = f.text_field(:description, :label => "Description:")
  - Role.available_permissions_by_source.each do |name, perms|
    .rbox
      %h3= name
      - perms.each do |p|
        / We do this because of name munging differences between the label's 'for' and check_box's 'id'
        - name = p.split(/\/|\$/).join('_')
        = label_tag("role_action_#{name}", p.to_s.humanize)
        = check_box_tag("role[actions][]", p.to_s, @role.actions.include?(p), :id => "role_action_#{name}" )
        %br/
  = f.submit('Save', :class => 'button-link')
