-form_for(@role, :builder => YogoFormBuilder) do |f|
  = f.text_field(:name, :label => "Name:" )
  = f.text_field(:description, :label => "Description:")
  - @role.available_permissions_by_source.each do |name, perms|
    .rbox
      %h3= name
      - perms.each do |p|
        = label_tag("role_permission_#{p}", p.to_s.humanize)
        = check_box_tag("role[permissions][]", p.to_s, @role.permissions.include?(p), :id => "role_permission_#{p}")
        %br/
  = f.submit('Save', :class => 'button-link')
