%table.project
  %tr
    %td.map
      #map
        = render(:partial => "map", :locals => { :sites => :collection => @project.data_collections.first(:name => "Sites").items })
    %td.buttons
      = link_to("New Site", new_yogo_project_site_path(@project), :class => 'new-link')
      = clear_break
      -if ! @project.data_collections.first(:name => "Sites").items.empty?
        = link_to("New Data Stream", new_yogo_project_data_stream_path(@project), :class => 'new-link')
        =clear_break
        = link_to("View Data Streams", yogo_project_data_streams_path(@project), :class => 'browse-link')
      -else 
        %h3 You need to add a site to this Project.

