.small.boxed
  %h1#content-title
    #subtitle Project Settings
    = @project.name

.small.boxed
  .rbox
    = link_to("Delete Project", project_path(@project), 
      :method => :delete, :class => 'button-link fright', 
      :confirm => "Are you sure you want to delete the #{@project.name} project?\nThere is no undo! Continue?" )
    - form_for(@project, :builder => YogoFormBuilder) do |f|
      %h3= f.check_box(:is_private, :label => image_tag('icons/private_16.png') + " Private")
      %h5= f.text_area(:description, :label => "Description: ")
      %h5.tight  Users
      .rbox.tight
        %ul.all-users
          - unless @project.roles.empty? 
            - @project.roles.users.each do |user|
              // TODO: The role-selection below is clumsy, optimize plz
              %li= user.name + ": " + @project.roles.select{|g| g.users.include?(user) }.map{|g| g.name }.join(', ')     
      .form-element
        = f.submit('Update', :class => 'button-link')
        = link_to('Cancel', projects_path, :class => 'cancel')
  
    .rbox.tight
      = render(:partial => 'project_role')      

