<div class='small-centered'>
  <h1 id='content-title'>Update Project Description</h1>
</div>

<div class='small-centered boxed'>
  <div class='rbox dashed'>  <% form_for(@project, :builder => YogoFormBuilder) do |f| %>
  
    <div class='form-element'>
      <div class='box' >
        <%= f.label(:name, "Project Name:") %>
      </div>
      <%= @project.name %>
    </div>

     <%= f.check_box(:is_public, :label => 'Public ?') %>
     <%= f.text_area(:description, :label => "Project Description: ") %>

    <div class='form-element'>
      <div class='box' >&nbsp;</div>
      <%= f.submit('Update', :class => 'button-link') %>
      <%= link_to('Cancel', projects_path, :class => 'cancel') %>
    </div>
  <% end %>
  </div>
</div>