#content-block
  - if @projects.empty?
    There are no projects yet, you should create one!
  - for project in @projects
    - if project.name != "VOEIS" # && !current_user.admin?
      .content-row-block.rbox
        .project-text
          %h2
            = link_to(project.name, project_path(project) ) 
            = image_tag('icons/private_16.png', :title => 'Private Project') if project.is_private?
          .action-links
            = link_to_edit_project_models(project, "Edit/Add Data Models", :class => 'button-link')
            = link_to("Project Settings", edit_project_path(project), :class => 'button-link')
          %p.rbox.tight
            - if project.description && project.description.length > 0
              %strong= link_to('Project Description', edit_project_path(project), :title => 'Edit Project Description')
              %br/
              %em= tooltip(project.description, 
                      project.name + ' Description', 200)
            - else
              %em= link_to('[Add Project Description]', edit_project_path(project))
          
        .project-datasets
          - if project.models.empty?
            %p 
              There are no datasets associated with this project.<br />
              = link_to_edit_project_models(project, "Add Data Models", :class => 'button-link')
          - else
            %table
              %thead
                %tr
                  %th Dataset
                  %th New
                  %th Total
              %tbody
                - for dataset in project.models
                  %tr
                    %td= link_to dataset.public_name,
                          project_yogo_data_index_path(project, dataset) 
                    %td= link_to(dataset.count(:created_at.gt => 1.week.ago),
                          project_yogo_data_index_path(project, dataset))
                    %td= link_to(dataset.count, project_yogo_data_index_path(project, dataset))

#pagination-links= pagination_links(Project, params[:page], 5)
