%h1#content-title Dashboard
#content-actions
  .content-action-links
    = link_to("Create a Project", start_wizard_path, :class => 'big-button-link')
    = link_to("Load Example Project", loadexample_projects_path, 
      :class => 'big-button-link', :method => :post)
  .content-pagination-links= pagination_links(Project, params[:page], 5) 

#content-block
  - for project in @projects
    .content-row-block
      /.project-icon= link_to(image_tag('mock-project-icon.jpg'), project_path(project) )

      .project-text
        %h2= link_to(project.name, project_path(project) ) 
        .action-links
          = link_to_edit_project_models(project, "Edit Data Models", :class => 'button-link')
          = link_to("Import Spreadsheet", import_csv_path(project), :class => 'button-link')        
        %p.rbox.tight
          - if project.description && project.description.length > 0
            %strong= link_to('Project Description', edit_project_path(project), :title => 'Edit Project Description')
            %br/
            %em= tooltip(project.description, 
                    project.name + ' Description', 200)
          - else
            %em= link_to('[Add Project Description]', edit_project_path(project))
          
      .project-datasets
        - if project.models.empty?
          %p 
            There are no datasets associated with this project.<br />
            = link_to_edit_project_models(project, "Add Data Models", :class => 'button-link')
        - else
          %table
            %thead
              %tr
                %th Dataset
                %th New
                %th Total
            %tbody
              - for dataset in project.models
                %tr
                  %td= link_to dataset.public_name,
                        project_yogo_data_index_path(project, dataset) 
                  %td= link_to(dataset.count(:created_at.gt => 1.week.ago),
                        project_yogo_data_index_path(project, dataset))
                  %td= link_to(dataset.count, project_yogo_data_index_path(project, dataset))
                  /%td= link_to(image_tag('table_edit.png', :title => "Browse Data") + " Browse",
                  /      project_yogo_data_index_path(project, dataset))
                  / TODO: Show the model editor
                  /%td= link_to(image_tag('layout_edit.png', 
                  /      :title => "Describe Dataset") + " Describe",
                  /      project_yogo_models_path(project))
                  /%td= link_to(image_tag('table_add.png', 
                  /      :title => "Import Spreadsheet") + " Import", 
                  /      import_csv_path(project))

#pagination-links= pagination_links(Project, params[:page], 5)
