.medium-centered
  %h1 Search Results Summary

.medium-centered
  .rbox.dashed
    = "Scope: #{@search_scope}"
    = clear_break
    = "Search Term: #{@search_term}" 
  
.medium-centered
  %h2 Results

.medium-centered
  #project-search.rbox.dashed
    - unless @projects.empty? 
      %ul
        - for project in @projects
          %li= link_to(project.name, project_path(project))

    - unless @proj_models.empty? 
      - for proj_model in @proj_models
        - project = proj_model[0] 
        - for model in proj_model[1] 
          %li
            #{project.name}: 
            = link_to(model.name, project_yogo_model_path(project, model.name.demodulize))

    - unless @proj_models_data.empty? 
      %table
        %thead
          %tr
            %th Project
            %th Model
            %th Matching Rows
            %th Action
        %tbody
          - @proj_models_data.each do |data_set|
            %tr
              %td.text-bold= data_set[0].name
              %td= data_set[1].name.demodulize
              %td= data_set[2]
              %td.text-center
                = link_to("View Data", 
                    search_project_yogo_data_path(data_set[0], data_set[1].name.demodulize, 
                      :search_term => @search_term), :class => 'button-link')
                = link_to("Export Spreadsheet", 
                    search_project_yogo_data_path(data_set[0], data_set[1].name.demodulize,
                      :search_term => @search_term, :format => 'csv'), :class => "button-link")
