= link_to("View Streaming Data", project_path(@project), :class => 'medium-button-link')
= link_to("View Field Data", project_path(@project), :class => 'medium-button-link')
=clear_break
#project-actions
  %table.project
    %tr
      %td.map
        #map
          You should see a map here.  
          .map-links
      %td.buttons
        = link_to("Add a Site to #{@project.name}", {:controller => "projects", :action => "add_site", :params => {:id => @project.id}}, :class => 'button-link')
        = clear_break
        = link_to("Add a Data Stream to #{@project.name}", {:controller => "projects", :action => "add_stream", :params => {:id => @project.id}}, :class => 'button-link')
=clear_break

#content-block
  - for dataset in resource.data_collections
    - @item = dataset.new
    .content-row-block
      .dataset-name
        %h2= link_to dataset.public_name, project_yogo_data_index_path(@project, dataset)
      =clear_break  
      = link_to("Add a new #{dataset.public_name}", new_project_yogo_data_path(@project, dataset), 
              :class => 'button-link')
      = link_to("Browse All Data", project_yogo_data_index_path(@project, dataset), 
                :class => 'button-link')
      /= link_to("Import Spreadsheet", import_csv_path(@project), :class => 'button-link')
      = link_to("Export Spreadsheet", project_yogo_data_index_path(@project, dataset, 
                :format => 'csv'), :class => 'button-link')
      .dataset-info
        .action-tabs
          %ul
            %li <a href="##{dataset.to_param}-quickview">Quickview</a>
            %li <a href="##{dataset.to_param}-query">Query</a>
           
          = render(:partial => 'yogo/data/quickview',       :locals => {:dataset => dataset})
          = render(:partial => 'yogo/projects/build_query', :locals => {:dataset => dataset})

:javascript
  $(document).ready(function(){
  $.yogo_mapit($('#map'), {locations: 
  [{'lat': 45.6, 'long': -111.0,   'name': "Lorem ipsum."},
  {'lat': 45.62, 'long': -111.01, 'name': "Lorem ipsum."}]
  });
  });
