%h1#content-title
  #subtitle
    Yogo Project
  = resource.name
  = image_tag('icons/private_32.png', :title => 'Private Project') if resource.is_private

#content-actions
  .content-action-links
    = link_to("Project Settings", edit_yogo_project_path(resource), :class => 'medium-button-link')
    = link_to("Delete Project", yogo_project_path(resource), 
     :method => :delete, :class => 'medium-button-link', 
     :confirm => "There is no undo.\n Continue?" )
    /= link_to("Import Spreadsheet", import_csv_path(resource), :class => 'button-link')
    /- if !current_user.nil? && current_user.has_permission?(:edit_project, resource)
    /  = link_to("Manage Users", project_users_path(resource), :class => 'button-link')

//= render(:partial => 'layouts/sidebar') %>

#content-block
  - for dataset in resource.data_collections
    - @item = dataset.new
    .content-row-block
      .dataset-name
        %h2= link_to dataset.public_name, project_yogo_data_index_path(resource, dataset)
        .vertical-links
          .link= link_to("Add a new #{dataset.public_name}", new_project_yogo_data_path(resource, dataset), 
                :class => 'button-link')
          .link= link_to("Browse All Data", project_yogo_data_index_path(resource, dataset), 
                  :class => 'button-link')
          .link= link_to("Import Spreadsheet", import_csv_path(resource), :class => 'button-link')
          .link= link_to("Export Spreadsheet", project_yogo_data_index_path(resource, dataset, 
                  :format => 'csv'), :class => 'button-link')
      .dataset-info
        .action-tabs
          %ul
            %li <a href="##{dataset.to_param}-dataset-details">Dataset Details</a>
            %li <a href="##{dataset.to_param}-query">Query</a>
            %li <a href="##{dataset.to_param}-quickview">Quickview</a>
          = render(:partial => 'yogo/models/dataset',       :locals => {:dataset => dataset})
          = render(:partial => 'yogo/projects/build_query', :locals => {:dataset => dataset})
          = render(:partial => 'yogo/data/quickview',       :locals => {:dataset => dataset})
