= content_for(:javascripts) do
  :javascript
    dojo.require("dijit.layout.BorderContainer");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dojox.layout.TableContainer");
    dojo.require("dijit.form.Textarea");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.form.TimeTextBox");
    dojo.require("dijit.form.MultiSelect");
    dojo.require("dijit.form.FilteringSelect");

= form_for(:campaign, :url => new_campaign_path, :builder => YogoFormBuilder, :html => {:dojoType => "dijit.layout.BorderContainer", :gutters => 'false'} ) do |f|

  .CampaignFormHeader{:dojoType => "dijit.layout.ContentPane", :region => "top"}
    %h1 Campaign Manager

  .CampaignFormBody{:dojoType => "dijit.layout.ContentPane", :region => "center"}
    .FormInternalLayout{:dojoType => "dijit.layout.BorderContainer"}
      .FormInternalHeader{:dojoType => "dijit.layout.ContentPane", :region => "top"}
        .Campaign{:style => "float:left;width: 50%"}
          = f.text_field(:id, :label => "Campaign", :disabled => true)
          = f.text_field(:date_begun, :label => "Start Date", :dojoType => "dijit.form.DateTextBox")
          = f.text_field(:date_ended, :label => "End Date", :dojoType => "dijit.form.DateTextBox")
        .description{:style => "float:left;width:50%;vertical-align:top"}
          = f.text_area(:description, :label => "Description", :cols => 45, :rows => 8)
      .FormInternalHeader{:dojoType => "dijit.layout.ContentPane", :region => "center"}
        .FormInsideLayout{:dojoType => "dijit.layout.BorderContainer", :gutters => 'false'}
          .FormCol1Content{:dojoType => "dijit.layout.ContentPane", :region => "left", :style => "width:30%"}
            = f.collection_select(:users, @campaign.users, :id, :login, {}, {:dojoType => "dijit.form.MultiSelect", :size => 10, :multiple => true})
            %button Add...
            %button Remove...
          .FormCol2Content{:dojoType => "dijit.layout.ContentPane", :region => "center", :style => "width:30%"}
            = f.collection_select(:projects, @campaign.projects, :id, :name, {}, {:dojoType => "dijit.form.MultiSelect", :size => 10, :multiple => true})
            %button Add...
            %button Remove...
          .FormCol3Content{:dojoType => "dijit.layout.ContentPane", :region => "right", :style => "width:30%"}
            = f.collection_select(:visits, @campaign.visits, :id, :login, {}, {:dojoType => "dijit.form.MultiSelect", :size => 10, :multiple => true})
            %button Add...
            %button Remove...

  .CampaignFormFooter{:dojoType => "dijit.layout.ContentPane", :region => "bottom"}
    = f.submit("Save Campaign", :label => "Save")
    %button New Blank Campaign
    %button Duplicate Campaign
    %button Delete Current Campaign
