#menu-links
  = link_to("Home", root_url)
  = select_tag("role", options_from_collection_for_select(current_user.roles, 'id', 'name'))
  - if logged_in? && current_user.admin
    = link_to("Administration", page_url(:admin))
  = link_to("About", page_url(:about))
  = link_to("Help", "http://yogo.msu.montana.edu/", :target => 'blank')
