/ The Content Title Block
%h1#content-title
  - case controller_name
  - when "users"
    #subtitle User Management
    = @project ? @project.name : "Yogo System"
  - when "projects"
    - if @project
      #subtitle= action_name == 'show' ? link_to('Projects Dashboard', root_url) : "Project Settings"
      = @project.name
      = image_tag('icons/private_32.png', :title => 'Private Project', :height => '24px') if @project.is_private?
    - else 
      .tight Projects Dashboard
  - when "data"
    #subtitle
      = link_to('Projects Dashboard', root_url)
      |
      = link_to(@project.name, project_url(@project))
      = image_tag('icons/private_16.png', :title => 'Private Project', :height => '12px') if @project.is_private?
    = action_name.titleize unless action_name == 'index'
    = @model.public_name
    = "List" if action_name == 'index'
    %span.search-term
    
#content-actions
  .content-action-links
    - case controller_name
    - when "projects"
      - if @project
        = link_to_edit_project_models(@project, "Edit/Add Data Model", :class => 'medium-button-link')
        = link_to("Project Settings", edit_project_path(@project), :class => 'medium-button-link')
      - else
        = link_to("Create a Project", start_wizard_path, :class => 'button-link')
        - unless Yogo::Setting[:example_project_loaded]
          = link_to("Load Example Project", loadexample_projects_path, 
            :class => 'button-link', :method => :post)
    - when "data"
      - case action_name
        - when "show"
          = link_to("Edit #{@model.name.demodulize.titleize}", 
            edit_project_yogo_data_path(@project, @model.name.demodulize, @item.yogo_id), 
            :class => 'medium-button-link')
          = link_to("Delete #{@model.name.demodulize.titleize}", 
            project_yogo_data_path(@project, @model.name.demodulize, @item.yogo_id), :method => :delete, 
            :confirm => "There is no undo.\n Continue?", :class => 'medium-button-link')
        - when "index"
          = link_to("Import Spreadsheet", import_csv_path(@project), :class => 'medium-button-link')
          - if action_name.eql?("search")
            = link_to("Export Spreadsheet", search_project_yogo_data_path(@project, @model,
                :search_term => params[:search_term], :format => 'csv'), :class => "medium-button-link")
          - else
            = link_to("Export Spreadsheet", project_yogo_data_index_path(@project, @model, :format => 'csv'),
                :class => "medium-button-link")
      
