<div id="search-tab">
  <%- form_for(@project, :url => search_projects_path, 
        :html => {:method => :get} ) do |f| -%>
    Search <%= select_tag('search_scope', options_for_select([['here','here'],['everywhere','everywhere']])) %>
    for
    <%= text_field_tag("search_term") %>
    <%= hidden_field_tag("project_id", @project.id) unless @project.nil? %>
    <%= hidden_field_tag("model_name", @model.to_param ) unless @model.nil? %>
    <%= f.submit('Find', :class => 'button-link') %>
  <%- end -%>
</div>
