!!! 5
%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")/
    %title= "VOEIS Data Hub: #{controller.action_name}"

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    = stylesheet_link_tag('jquery-ui-1.8.1.custom', 'jquery.fancybox-1.3.1')
    
    = javascript_include_tag(:defaults, 'jquery.fancybox-1.3.1.pack.js', 'dygraph-combined.js')
    = javascript_include_tag("http://maps.google.com/maps/api/js?sensor=false")    
    

    = stylesheet_link_tag("/javascripts/dijit/themes/claro/claro.css")
    = stylesheet_link_tag("/javascripts/dojox/grid/resources/Grid.css")
    = stylesheet_link_tag("/javascripts/dojox/grid/resources/claroGrid.css")

    = javascript_include_tag("dojo/dojo.js")



    :javascript
      dojo.require("dojo.parser");
      
      
      dojo.require("dijit.layout.BorderContainer");
      dojo.require("dijit.layout.ContentPane");
      dojo.require("dijit.Toolbar");
      dojo.require("dijit.form.Button");
      dojo.require("dijit.form.DropDownButton");
      dojo.require("dijit.Menu");
      dojo.require("dijit.MenuItem");
      dojo.require("dijit.TooltipDialog");
      dojo.require("dojo.store.JsonRest");
      dojo.require("dojo.data.ObjectStore");
      dojo.require("dijit.tree.ForestStoreModel");
      dojo.require("dijit.Tree");
      
      dojo.addOnLoad(function(){        
        dojo.parser.parse();
      });
      
      

    = include_visualization_api
    = render_visualizations
    
    %link{:rel => "shortcut icon", :href => "#{image_path("favicon.png")}"}/
    = yield :head

    :css
      body, html { width:100%; height:100%; margin:0; padding:0; overflow:hidden; }
      #border_container { width:100%; height:100% }
      
      .datahub-icon-25 { 
        background-image: url('/images/datahub_icon_25.png');
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        text-align: center;
      }
      .project-icon-25 { 
        background-image: url('/images/project_icon_25.png');
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        text-align: center;
      }

    
  %body.typography.claro

    #border_container{:dojoType => "dijit.layout.BorderContainer", :gutters => 'false'}
      #top{:dojoType => "dijit.Toolbar", :region => "top"}
        #datahubButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "datahub-icon-25"}
          %span{:style => "font-weight:bold"}
            DataHub
          %div{:dojoType => "dijit.Menu"}
            %span{:dojoType => "dijit.MenuItem"}
              Browse Projects
            %span{:dojoType => "dijit.MenuItem"}
              Create Project...
            %span{:dojoType => "dijit.MenuItem"}
              = link_to("About", page_url(:about))
            %span{:dojoType => "dijit.MenuItem"}
              = link_to("Help", page_url(:help), :target => 'blank', :dojoType => "dijit.MenuItem")
      
        #projectButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "project-icon-25"}
          %span Project
          %div{:dojoType => "dijit.Menu"}          
            
            %span{:dojoType => "dijit.MenuItem"} Preferences...
            
        #loginButton{:dojoType => "dijit.form.DropDownButton", :style => "float:right"}
          - if logged_in?
            %span
              = current_user.login
            %ul{:dojoType => "dijit.Menu"}
              %li{:dojoType => "dijit.MenuItem"} Account Settings
              %li{:dojoType => "dijit.MenuItem"} Log Out
          - else
            %span Login
            %div{:dojoType => "dijit.TooltipDialog"}
              %label Username
              %label Password
        
        = yield :toolbar
                
              
        
      #main_split{:dojoType => "dijit.layout.BorderContainer", :design => "sidebar", :region => "center", :gutters => "false"}
        #left_sidebar{:dojoType => "dijit.layout.ContentPane", :region => "left", :style => "width:200px"}
          = yield :sidebar
          
        #container{:dojoType => "dijit.layout.ContentPane", :region => "center"}
          = yield

   
  -# #footnotes_holder

  -# #footer
  -#   #yogo-brand
  -#     = link_to(image_tag("partners/uky.png", :alt => "University of Kentucky"), 'http://www.uky.edu') 
  -#     = link_to(image_tag("partners/umt.png", :alt => "The University of Montana"), 'http://www.umt.edu') 
  -#     = link_to(image_tag("partners/FLBS.png", :alt => "Flathead Lake Biological Station"), 'http://www.umt.edu/FLBS/') 
  -#     = link_to(image_tag("partners/hbfs.png", :alt => "Hancock Biological Field Station"), 'http://www.murraystate.edu/qacd/cos/hbs/hbs.htm') 
  -#     = link_to(image_tag("partners/eku.png", :alt => "Eastern Kentucky University"), 'http://www.eku.edu') 
  -#     = link_to(image_tag("partners/msu.png", :alt => "Montana State University"), 'http://www.montana.edu') 
  -#     = link_to(image_tag("partners/ul.png", :alt => "University of Louisville"), 'http://www.louisville.edu') 
  -#     = link_to(image_tag("partners/murray.png", :alt => "Murray State University"), 'http://www.murraystate.edu') 
  -#     = link_to(image_tag("partners/yerc.png", :alt => "Yellowstone Ecological Research Center"), 'http://www.yellowstoneresearch.org')
  -#     = link_to(image_tag("partners/yogo.png", :alt => "The Yogo Data Management Toolkit Logo"), 'http://yogo.msu.montana.edu/')
