<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Yogo Data Management Toolkit: <%= controller.action_name %></title>

    <%= stylesheet_link_tag 'jquery-ui-1.8rc3.custom', 'yogo' %>
    <%= javascript_include_tag 'jquery-1.4.2.min.js', 
                               'jquery-ui-1.8rc3.custom.min.js', 
                               'jrails.js', 
                               'application.js' %>
    <%= include_visualization_api %>
    <%= render_visualizations %>
                               
   <link rel="shortcut icon" href="<%= image_path("favicon.png") %>">
  </head>
  <body>
    <div id="container"  class="clearfix">
      <div id='header'>
        <div id="header-img">
          <%= image_tag('title.png') %>
        </div>
      <%= render :partial => 'layouts/sidebar' %>
      <div id="content">
        <%- if flash[:notice] -%>
            <div class='notice'><p><%= h flash[:notice] %></p></div>
        <%- end -%>
        <%- if flash[:error] -%>
            <div class='error notice'><p><%= h flash[:error] %></p></div>
        <%- end -%>
        <div id='breadcrumbs'><%= crumbs %></div>
        <div><%= yield %></div>
        <div id='footnotes_holder'></div>
      </div>
    </div>
    
    <div id="footer">
      <div id='yogo-brand'>
        <%= link_to(image_tag("yogo.png", :alt => "The Yogo Data Management Toolkit Logo"), 'http://yogo.msu.montana.edu/') %>
      </div>
    </div>
  </body>
</html>
