<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Yogo Data Management Toolkit: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'yogo',
                            'application' %>
    <%= javascript_include_tag 'jquery.js', 
                               'jquery-ui-1.7.2.custom.min.js', 
                               'excanvas.js',
                               'jrails.js',
                               'jquery.corner.js', 
                               'application.js' %>
  </head>
  <body>
    <%= render :partial => 'layouts/header' %>
    <%= render :partial => 'layouts/sidebar' %>
    <div id="content">
        <div><%= yield %></div>
        <div id='footnotes_holder'></div>
    </div>
    <%= render :partial => 'layouts/footer' %>
  </body>
</html>