!!! 5
%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")/
    %title= "VOEIS Data Hub: #{controller.action_name}"

    = stylesheet_link_tag('compiled/screen.css', :media => "screen")
    = stylesheet_link_tag('compiled/print.css', :media => "print")
    = stylesheet_link_tag('jquery-ui-1.8.1.custom', 'jquery.fancybox-1.3.1')    
    /[if IE]
      = stylesheet_link_tag( 'compiled/ie.css')

    = javascript_include_tag('jquery-1.4.2.min.js', 
                             'jquery-ui-1.8.1.custom.min.js', 
                             'jquery.fancybox-1.3.1.pack.js',
                             'jrails.js', 'application.js')

    = include_visualization_api
    = render_visualizations
    %link{:rel => "shortcut icon", :href => "#{image_path("favicon.png")}"}/
  - if @no_blueprint
    %body.typography
  - else
    %body.bp.typography

  / Header (including optional menus)
  #header
    #logo 
      VOEIS Data Hub 
      %span.smaller.emphasis
        = "ALPHA v" + YOGO_VERSION
    =clear_break
    #menu.rbox.tight
      #menu-left-col
        = render(:partial => 'layouts/menu_links') unless @no_menu
        = render(:partial => @_menu_partial) if @_menu_partial
      #menu-right-col
        = render(:partial => 'layouts/login') unless @no_login
        = render(:partial => 'layouts/search') unless @no_search
  =clear_break 
  /Grid Container 
  #container
    #flash
      - if flash[:notice]
        - if flash[:notice_link]
          %p.notice= link_to(flash[:notice], flash[:notice_link])
        - else
          %p.notice= flash[:notice]
      - if flash[:error]
        - if flash[:error_link]
          %p.error= link_to(flash[:error], flash[:error_link])
        - else
          %p.error= flash[:error]
    =clear_break 
    #content
      = yield 

  #footnotes_holder
  =clear_break   
  #footer
    #yogo-brand
      = link_to(image_tag("uky.png", :alt => "University of Kentucky"), 'http://www.uky.edu') 
      = link_to(image_tag("umt.png", :alt => "The University of Montana"), 'http://www.umt.edu') 
      = link_to(image_tag("FLBS.png", :alt => "Flathead Lake Biological Station"), 'http://www.umt.edu/FLBS/') 
      = link_to(image_tag("hbfs.png", :alt => "Hancock Biological Field Station"), 'http://www.murraystate.edu/qacd/cos/hbs/hbs.htm') 
      = link_to(image_tag("eku.png", :alt => "Eastern Kentucky University"), 'http://www.eku.edu') 
      = link_to(image_tag("msu.png", :alt => "Montana State University"), 'http://www.montana.edu') 
      = link_to(image_tag("ul.png", :alt => "University of Louisville"), 'http://www.louisville.edu') 
      = link_to(image_tag("murray.png", :alt => "Murray State University"), 'http://www.murraystate.edu') 
      = link_to(image_tag("yerc.png", :alt => "Yellowstone Ecological Research Center"), 'http://www.yellowstoneresearch.org')
      = link_to(image_tag("yogo.png", :alt => "The Yogo Data Management Toolkit Logo"), 'http://yogo.msu.montana.edu/')
