!!! 5
%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")/
    %title= "VOEIS Data Hub: #{controller.action_name}"

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/claro/claro.css'
    
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    = stylesheet_link_tag('jquery-ui-1.8.1.custom', 'jquery.fancybox-1.3.1')
    
    = javascript_include_tag(:defaults, 'jquery.fancybox-1.3.1.pack.js', 'dygraph-combined.js')
    

    = stylesheet_link_tag("/javascripts/dijit/themes/claro/claro.css")
    = stylesheet_link_tag("/javascripts/dojox/grid/resources/Grid.css")
    = stylesheet_link_tag("/javascripts/dojox/grid/resources/claroGrid.css")

    = yield(:stylesheets)

    = javascript_include_tag("dojo/dojo.js")

    :javascript
      dojo.require("dojo.parser");
      
      
      dojo.require("dijit.layout.BorderContainer");
      dojo.require("dijit.layout.ContentPane");
      dojo.require("dijit.Toolbar");    
      dojo.require("dijit.form.DropDownButton");
      dojo.require("dijit.Menu");
      dojo.require("dijit.MenuItem");
      dojo.require("dijit.TooltipDialog");

      dojo.require("dijit.form.TextBox");
      dojo.require("dijit.form.CheckBox");
      dojo.require("dijit.form.Button");
      
      dojo.require("yogo.ui.MenuLink");
      dojo.require("yogo.maps.google");    
      
      yogo.maps.google.load();
      
      dojo.addOnLoad(function(){
        dojo.when(yogo.maps.google.load(), function() {
          dojo.parser.parse();
        });
      });

    = yield(:javascripts)

    = include_visualization_api
    = render_visualizations
    :javascript
      dojo.require("dojo.parser");
      dojo.require("dojox.gfx");
      dojo.addOnLoad(function(){
      dojo.parser.parse();  
      });
    %link{:rel => "shortcut icon", :href => "#{image_path("favicon.png")}"}/

    = yield :head

    :css
      body, html { width:100%; height:100%; margin:0; padding:0; overflow:hidden; }
      #border_container { width:100%; height:100% }
      
      .datahub-icon-25 { 
        background-image: url('/images/datahub_icon_25.png');
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        text-align: center;
      }
      .project-icon-25 { 
        background-image: url('/images/project_icon_25.png');
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        text-align: center;
      }
      .user-icon-25 { 
        background-image: url('/images/user_icon_25.png');
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        text-align: center;
      }

    
  %body.typography.claro

    #border_container{:dojoType => "dijit.layout.BorderContainer", :gutters => 'false'}
      #top{:dojoType => "dijit.Toolbar", :region => "top"}
        #datahubButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "datahub-icon-25"}
          %span{:style => "font-weight:bold"}
            DataHub
          %div{:dojoType => "dijit.Menu"}
            = link_to("Browse Projects", projects_path, :dojoType => "yogo.ui.MenuLink")
            = link_to("Create Project...", new_project_path, :dojoType => "yogo.ui.MenuLink")
            = link_to("About", page_url(:about), :dojoType => "yogo.ui.MenuLink")
            = link_to("Help", page_url(:help), :dojoType => "yogo.ui.MenuLink")      
            - if logged_in?
              %div{:dojoType=>"dijit.MenuSeparator"}
              %div{:dojoType=>"dijit.PopupMenuItem"}
                %span My Projects
                %div{:dojoType=>"dijit.Menu", :id=>"submenu1"}
                  =render_cell(:project_menu, :display, :current_user => current_user)
            
        #loginButton{:dojoType => "dijit.form.DropDownButton", :style => "float:right", :iconClass => "user-icon-25"}
          - if logged_in?
            %span
              = current_user.login
            %ul{:dojoType => "dijit.Menu"}
              = link_to("Account Settings", edit_user_path(current_user.id), :dojoType => "yogo.ui.MenuLink")
              = link_to("Logout", logout_path, :dojoType => "yogo.ui.MenuLink")
          - else
            %span Login
            %div{:dojoType => "dijit.TooltipDialog"}
              = form_for( :user_session, :url => user_session_path, :builder => YogoFormBuilder ) do |f|
                = f.text_field(:login, :label => "Username", :dojoType => "dijit.form.TextBox")
                = f.password_field(:password, :label => 'Password', :dojoType => "dijit.form.TextBox")
                = f.check_box(:remember_me, :dojoType => "dijit.form.CheckBox")
                = f.submit("Login", :label => "Login", :dojoType => "dijit.form.Button")
                = link_to("Forgot My Password", reset_password_users_path)
        = yield :toolbar
                
              
        
      #main_container{:dojoType => "dijit.layout.ContentPane", :region => "center", :gutters => "false", :style => "padding:0"}
        = content_for?(:content) ? yield(:content) : yield

      #bottom.claro{:dojoType => "dijit.layout.ContentPane", :region => "bottom", :gutters => "false", :style => "padding:0"}
        -# footnotes_holder

        #footer
          #yogo-brand
            = link_to(image_tag("partners/uky.nobox.png", :alt => "University of Kentucky"), 'http://www.uky.edu') 
            = link_to(image_tag("partners/umt.black.gif", :alt => "The University of Montana"), 'http://www.umt.edu') 
            = link_to(image_tag("partners/FLBS.png", :alt => "Flathead Lake Biological Station"), 'http://www.umt.edu/FLBS/') 
            = link_to(image_tag("partners/hbfs.png", :alt => "Hancock Biological Field Station"), 'http://www.murraystate.edu/qacd/cos/hbs/hbs.htm') 
            = link_to(image_tag("partners/eku.png", :alt => "Eastern Kentucky University"), 'http://www.eku.edu') 
            = link_to(image_tag("partners/msu.png", :alt => "Montana State University"), 'http://www.montana.edu') 
            = link_to(image_tag("partners/ul.png", :alt => "University of Louisville"), 'http://www.louisville.edu') 
            = link_to(image_tag("partners/murray.png", :alt => "Murray State University"), 'http://www.murraystate.edu') 
            = link_to(image_tag("partners/yerc.png", :alt => "Yellowstone Ecological Research Center"), 'http://www.yellowstoneresearch.org')
            = link_to(image_tag("partners/yogo.png", :alt => "The Yogo Data Management Toolkit Logo"), 'http://yogo.msu.montana.edu/')
