<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Yogo Data Management Toolkit: <%= controller.action_name %></title>

    <%= stylesheet_link_tag 'yogo' %>
    <%= javascript_include_tag 'jquery-1.4.2.min.js', 
                               'jquery-ui-1.8rc3.custom.min.js', 
                               'jrails.js', 
                               'application.js' %>
    <%= include_visualization_api %>
    <%= render_visualizations %>
    <style>
    /* Tabs ----------------------------------*/
    .ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    .ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
    .ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
    .ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
    .ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
    .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
    .ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
    .ui-tabs .ui-tabs-panel { display: block; border: 0; padding: 1em 1.4em; background: none; }
    .ui-tabs .ui-tabs-hide { display: none !important; }
    </style>
    
  </head>
  <body>

        <div><%= yield %></div>


    <div id="footer">
      <div id='yogo-brand'>
        <%= link_to(image_tag("yogo.png", :alt => "The Yogo Data Management Toolkit Logo"), 'http://yogo.msu.montana.edu/') %>
      </div>
      
    </div>
  </body>
</html>
