<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Yogo Data Management Toolkit: <%= controller.action_name %></title>

    <%= stylesheet_link_tag 'yogo' %>
    <%= javascript_include_tag 'jquery-1.4.2.min.js', 
                               'jquery-ui-1.8rc3.custom.min.js', 
                               'jrails.js', 
                               'application.js' %>
    <%= include_visualization_api %>
    <%= render_visualizations %>
    <style>
      #mockup-intro {margin-left:30px; width:860px;}
      #mockup-intro h2, #mockup-new-user h2 {text-align:center; padding:12px; background:#eee;}
      #mockup-new-user {margin-left:120px; width:700px;}
      #mockup-new-user h3 {color:#255d71; margin-left:100px; font-weight:bold; margin-top:12px;}
      #mockup-new-user p {width:500px; margin-left:120px;}
      #mock-roadmap {text-align:center;}
      #mockup-name-project, #mockup-csv-question {margin-left:200px; width:600px;}
      #mock-search-tab {margin-left:490px; margin-top:-5px;}
      #mockup-show-project {float:left; width:500px;}
      .mock-project-block {margin:12px 0 0 120px; float:left; border-bottom: 1px dotted #888;}
      .mock-project-icon {width:80px; float:left;}
      .mock-project-text {float:left; width:460px;}
      .mock-button-row {text-align:center; width:940px; margin:auto;}
      .mock-button {display:inline; padding:0 30px 0 40px; }
      .mock-button-small {float:right;}
      .mock-button-big {text-align:center; margin-bottom:60px;}
      .mock-data, .mock-data-zoom {padding:8px 0 12px 20px; margin-left:8px; border-left:2px solid #888;}
      .mock-data-zoom {border:none; padding-left:0;}
      .mock-data td, .mock-data-zoom td {min-width:100px; padding:2px 4px 2px 4px;}
      .mock-table-input {border:1px solid #888;}
      .dashboard-table {font-size:0.8em; margin-left:32px;}
      .dashboard-table th {font-weight:normal; min-width:50px;}
      .dashboard-table td {text-align:center;}
      
      /*-- These are the sliding divs on the Manage Data page --*/
      h2.trigger {
      	background: url("../images/mock-div-button.jpg") no-repeat;
        height: 31px;
        width: 260px;
        padding: 2px 16px 2px 2px;
      }
      h2.trigger a {
        color: #000;
        font-size:0.8em;
        text-decoration: none;
        padding: 8px 0 2px 16px;
      	display: block;
      }
    </style>
    
  </head>
  <body>

        <div><%= yield %></div>


    <div id="footer">
      <div id='yogo-brand'>
        <%= link_to(image_tag("yogo.png", :alt => "The Yogo Data Management Toolkit Logo"), 'http://yogo.msu.montana.edu/') %>
      </div>
      
    </div>
  </body>
</html>
